<div class="header sh-header">
    <div class="sh-header-top">
        <div class="container">
            <div class="header-l">
                <img src="images/logo.png" alt="logo">
            </div>
            <div class="header-m">
                <ul class="header-search-title clearfix">
                    <li class="li-cur">加工</li>
                    <li>采购</li>
                </ul>
                <div class="search-form">
                    <form method="post" action="#">
                        <i class="icon icon-search"></i>
                        <input type="text" placeholder="请输入关键字" name="skw">
                        <button type="button">搜 索</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="sh-header-introduction clearfix">
        <div class="container">
            <div class="sh-hi-left">
                <div class="title">
                    <h2>广州恒誉模型科技有限公司</h2>
                    <span><img src="./images/qi2.png"></span>
                    <span><img src="./images/vip.png"></span>
                </div>
                <p class="text">
                    <img src="./images/addr.png">
                    <span>广东省深圳市</span>
                </p>
            </div>
            <div class="sh-hi-right">
                <span><img src="./images/phone2.png"></span>
                <span>15900000000</span>
            </div>
        </div>
    </div>
</div>

<div class="sh-nav">
    <div class="container">
        <ul class="clearfix">
            <li class="li-cur"><a href="?href=shop_home">店铺主页</a> </li>
            <li><a href="?href=shop_company_profile">公司简介</a> </li>
            <li><a href="?href=shop_supply_goods">供应商品</a> </li>
            <li><a href="?href=shop_certifications">资质证书</a> </li>
            <li><a href="?href=shop_contact_us">联系方式</a> </li>
        </ul>
    </div>
</div>

<div class="sh-home">
    <div class="container">
        <div class="row sh-home-message clearfix">
            <div class="sh-hm-l">
                <p>
                    广州恒誉模型科技有限公司是一家以专业设计生产铝型材、模具的直销厂家，成立于1999年，经过十八年上下一心的艰苦和努力及技术的不断改良,现年产量达10000多套模具及20000多吨铝材拥有多台先进的铝材生产机械设备. 目前公司生产挤压工业铝材，散热器铝材，太...
                </p>
                <a href="?href=shop_company_profile" class="light">了解更多>></a>
            </div>
            <div class="sh-hm-r">
                <p>成立时间：2017年04月06日［已认证］</p>
                <p>注册资本：人民币100万元［已认证］</p>
                <p>主营行业：紧固件、五金制品、塑胶制品、电子产品的销售；经营电子...</p>
                <p>注册地址：中国广东深圳宝安区新安街道宝城49区翻身路590号</p>
            </div>
        </div>
        <div class="row sh-home-lists">
            <div class="sh-home-title">
                <h3 class="title">最新供应商</h3>
                <a href="?href=shop_supply_goods" class="more">更多>></a>
            </div>
            <ul class="clearfix">
                <li>
                    <p class="img"><img src="./images/home2.jpg" alt="商品图"></p>
                    <p class="light">￥136.00/千克</p>
                    <p class="text">长祥特钢S136</p>
                </li>
                <li>
                    <p class="img"><img src="./images/home2.jpg" alt="商品图"></p>
                    <p class="light">￥136.00/千克</p>
                    <p class="text">长祥特钢S136</p>
                </li>
                <li>
                    <p class="img"><img src="./images/home2.jpg" alt="商品图"></p>
                    <p class="light">￥136.00/千克</p>
                    <p class="text">长祥特钢S136</p>
                </li>
                <li>
                    <p class="img"><img src="./images/home2.jpg" alt="商品图"></p>
                    <p class="light">￥136.00/千克</p>
                    <p class="text">长祥特钢S136</p>
                </li>
                <li>
                    <p class="img"><img src="./images/home2.jpg" alt="商品图"></p>
                    <p class="light">￥136.00/千克</p>
                    <p class="text">长祥特钢S136</p>
                </li>
            </ul>
        </div>
        <div class="row sh-home-plant-info clearfix">
            <div class="sh-hpi-l" id="sh-slide">
                <img src="./images/cf.jpg">
                <img src="./images/cf.jpg">
                <img src="./images/cf.jpg">
            </div>
            <div class="sh-hpi-r">
                <div class="sh-home-title">
                    <h3 class="title">厂房信息</h3>
                </div>
                <div class="details">
                    <div class="details-top">
                        <p>主营产品或服务：xxxxxxxxxxxxx</p>
                        <p>经营模式：xxxxxxxxxxxxx</p>
                        <p>是否提供加工定制：是</p>
                    </div>
                    <ul class="details-bottom">
                        <li>
                            <div class="left"><img src="./images/sh-1.png"></div>
                            <div class="right">
                                <p>员工人数</p>
                                <h4>88<span>人</span></h4>
                            </div>
                        </li>
                        <li>
                            <div class="left"><img src="./images/sh-2.png"></div>
                            <div class="right">
                                <p>厂房面积</p>
                                <h4>2800<span>m2</span></h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row sh-home-certificate">
            <div class="sh-home-title">
                <h3 class="title">资质证书</h3>
                <a href="?href=shop_contact_us" class="more">更多>></a>
            </div>
            <ul class="lists clearfix">
                <li><img src="./images/zs.jpg" 证书></li>
                <li><img src="./images/zs.jpg" 证书></li>
                <li><img src="./images/zs.jpg" 证书></li>
                <li><img src="./images/zs.jpg" 证书></li>
                <li><img src="./images/zs.jpg" 证书></li>
                <li><img src="./images/zs.jpg" 证书></li>
            </ul>
        </div>
    </div>
</div>