<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>招标详细-模具招投标-模具集成服务平台</title>
    <meta name="description" content="描述内容">
    <meta name="keyword" content="关键字1，关键字2">
    <link href="css/main.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<body class="bg-f8">

<div class="entrance">
    <div class="container">
        <ul class="entrance-l clearfix">
            <li>欢迎访问模具集成服务平台！</li>
            <li>
                <p class="li-login light">
                    <a href="#">[请登录]</a>
                    <a href="#">[免费注册]</a>
                </p>

            </li>
        </ul>
        <ul class="entrance-r clearfix">
            <li>
                <div class="entrance-li-show li-account clearfix">
                    <a href="#">我的账户</a>
                    <i class="icon icon-angle-down"></i>
                </div>
                <div class="entrance-li-none account-set"></div>
            </li>
            <li>
                <div class="entrance-li-show li-shop-cart clearfix">
                    <a href="#">购物车<span class="number">0</span></a>
                    <i class="icon icon-angle-down"></i>
                </div>
                <div class="entrance-li-none shop-cart-lists"></div>
            </li>
            <li>
                <div class="entrance-li-show li-vip">
                    <a href="#">VIP专属入口</a>
                </div>
            </li>
            <li>
                <div class="entrance-li-show li-supplier">
                    <a href="#">供应商入口</a>
                </div>
            </li>
            <li>
                <div class="entrance-li-show li-customer-server">
                    <a href="#">客服中心</a>
                </div>
            </li>
            <li>
                <p class="li-tel light">
                    <i class="icon icon-phone"></i> <span>客服：400-888-888</span>
                </p>
            </li>
        </ul>
    </div>
</div>

<div class="header">
    <div class="container">
        <div class="header-l">
            <img src="images/logo.png" alt="logo">
        </div>
        <div class="header-m">
            <ul class="header-search-title clearfix">
                <li class="li-cur">加工</li>
                <li>采购</li>
            </ul>
            <div class="search-form">
                <form method="post" action="#">
                    <i class="icon icon-search"></i>
                    <input type="text" placeholder="请输入关键字" name="skw">
                    <button type="button">搜 索</button>
                </form>
            </div>
            <div class="search-keywords">
                <h4 class="title">热门搜索：</h4>
                <p class="text">
                    <a href="#">关键字</a>
                    <a href="#">关键字</a>
                    <a href="#">关键字</a>
                    <a href="#">关键字</a>
                    <a href="#">关键字</a>
                    <a href="#">关键字</a>
                    <a href="#">关键字</a>
                    <a href="#">关键字</a>
                    <a href="#">关键字</a>
                    <a href="#">关键字</a>
                </p>
            </div>
        </div>
        <div class="header-r">
            <p class="wx-code">
                <img src="images/wx-code.jpg" alt="微信二维码">
            </p>
            <p class="wx-text">关注官方微信</p>
        </div>
    </div>
</div>

<div class="nav">
    <div class="container">
        <h3 class="purchase primary-background">一站式采购解决方案</h3>
        <ul class="nav-bar">
            <li><a href="index.html">首页</a></li>
            <li><a href="process.html">我要加工</a></li>
            <li><a href="purchase.html">我要采购</a></li>
            <li><a href="purchase_info.html">采购信息</a></li>
            <li  class="li-cur"><a href="mold_bidding.html">模具招投标</a></li>
            <li><a href="forum.html">技术论坛</a></li>
            <li><a href="training.html">招聘培训</a></li>
            <li><a href="finance_serve.html">金融服务</a></li>
        </ul>
    </div>
</div>

<div class="home">
    <div class="container">
        <div class="pu-container">
            <div class="pu-breadcrumbs clearfix">
                <ul class="clearfix">
                    <li><a href="index.html">首页</a></li>
                    <span>&gt;</span>
                    <li><a href="purchase_info.html">采购信息</a></li>
                    <span>&gt;</span>
                    <li><a href="purchase_info.html">这里是采购标题</a></li>
                </ul>
                <p class="number">共找到<span class="light">1234</span>信息</p>
            </div>
            <div class="pu-company-box clearfix">
                <div class="pu-company-l">
                    <h3 class="title">宁波汽车有限公司<img src="images/vip.jpg"></h3>
                    <p class="text"><span class="color8">所在地区：</span>广东广州</p>
                    <p class="more-need">
                        <a href="#" class="clearfix"><span>更多Ta的采购需求</span><i class="icon icon-angle-double-right"></i> </a>
                    </p>
                </div>
                <div class="pu-company-r">
                    <a href="#" class="clearfix">
                        <img src="images/text1.png">
                        <span class="cur-color">我也要发布招标</span>
                    </a>
                </div>
            </div>
            <div class="pu-parameter bd-parameter">
                <h2 class="pu-parameter-title">上海大众公司 汽车模具招标</h2>
                <div class="pi-message">
                    <div class="pi-top">
                        <div class="pi-top-m clearfix">
                            <div class="bd-t"></div>
                            <div class="bd-b">
                                <div class="li">
                                    <p class="text">发布时间</p>
                                    <p class="content">2017.12.31</p>
                                </div>
                                <div class="li">
                                    <p class="text">招标截止</p>
                                    <p class="content">2017.12.01</p>
                                </div>
                                <div class="li countdown">
                                    <span class="circle"></span>
                                    <button type="button" class="btn" id="bd-bidding">我要投标</button>
                                    <span class="text white">距离报价结束还剩1天
                            </span></div>
                            </div>

                        </div>
                        <div class="pi-top-t clearfix">
                            <div class="li">
                                <p class="text">投标数</p>
                                <p class="light">3<span>家</span></p>
                            </div>
                            <div class="li">
                                <p class="text">被查看次数</p>
                                <p class="light">500<span>次</span></p>
                            </div>
                            <div class="li"></div>
                        </div>
                        <div class="pi-top-b">
                            <div class="li">
                                <p class="title">投标公司要求</p>
                                <p class="text">发票要求：增值税普通发票</p>
                                <p class="text">经营要求：经销批发</p>
                                <p class="text">证照要求：营业执照、税务登记证、阻止机构代码证、一般纳税人证明材料、三/五证合一、统计登记证、社会保险登记证</p>
                            </div>
                            <div class="li">
                                <p class="title">项目要求</p>
                                <p class="text">这里是项目具体要求描述，项目指标内容</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="get-quote">
                <h3 class="title cur-color">已收到的报价</h3>
                <div class="table">
                    <table width="100%" cellpadding="0" cellspacing="0" border="1" bordercolor="#eee">
                        <thead>
                        <tr>
                            <td>报价时间</td>
                            <td>报价厂家</td>
                            <td>所在地区</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>2017.12.12</td>
                            <td>广州****公司</td>
                            <td>广东省 广州市</td>
                        </tr>
                        <tr>
                            <td>2017.12.12</td>
                            <td>广州****公司</td>
                            <td>广东省 广州市</td>
                        </tr>
                        <tr>
                            <td>2017.12.12</td>
                            <td>广州****公司</td>
                            <td>广东省 广州市</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="pi-need bd-need">
                <h2 class="pi-need-title">更多类似招标</h2>
                <div class="pi-need-lists clearfix">
                    <div class="li">
                        <div class="li-t">
                            <p class="li-t-title">加工4号这里是加工内容加工4号这里是加工内容加</p>
                        </div>
                        <div class="li-m">
                            <p><span>有效日期：</span>2017-12-18</p>
                            <p><span>交货地址：</span>广州测试地址</p>
                        </div>
                        <div class="li-b">
                            <button type="button" class="cur-background">我要报价</button>
                        </div>
                    </div>
                    <div class="li">
                        <div class="li-t">
                            <p class="li-t-title">加工4号这里是加工内容加工4号这里是加工内容加</p>
                        </div>
                        <div class="li-m">
                            <p><span>有效日期：</span>2017-12-18</p>
                            <p><span>交货地址：</span>广州测试地址</p>
                        </div>
                        <div class="li-b">
                            <button type="button" class="cur-background">我要报价</button>
                        </div>
                    </div>
                    <div class="li">
                        <div class="li-t">
                            <p class="li-t-title">加工4号这里是加工内容加工4号这里是加工内容加</p>
                        </div>
                        <div class="li-m">
                            <p><span>有效日期：</span>2017-12-18</p>
                            <p><span>交货地址：</span>广州测试地址</p>
                        </div>
                        <div class="li-b">
                            <button type="button" class="cur-background">我要报价</button>
                        </div>
                    </div>
                    <div class="li">
                        <div class="li-t">
                            <p class="li-t-title">加工4号这里是加工内容加工4号这里是加工内容加</p>
                        </div>
                        <div class="li-m">
                            <p><span>有效日期：</span>2017-12-18</p>
                            <p><span>交货地址：</span>广州测试地址</p>
                        </div>
                        <div class="li-b">
                            <button type="button" class="cur-background">我要报价</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-footer">
    <div class="footer-link clearfix">
        <div class="container">
            <div class="footer-link-l">
                <dl>
                    <dt>购物指南</dt>
                    <dd><a href="#">快捷支付</a></dd>
                    <dd><a href="#">交付选项</a></dd>
                    <dd><a href="#">卖家保护</a></dd>
                    <dd><a href="#">新用户指南</a></dd>
                </dl>
                <dl>
                    <dt>商家服务</dt>
                    <dd><a href="#">商家入驻</a></dd>
                    <dd><a href="#">商家中心</a></dd>
                    <dd><a href="#">物流服务</a></dd>
                    <dd><a href="#">运营服务</a></dd>
                </dl>
                <dl>
                    <dt>平台保障</dt>
                    <dd><a href="#">客服中心</a></dd>
                    <dd><a href="#">交易服务协议</a></dd>
                    <dd><a href="#">接收我们的调查</a></dd>
                    <dd><a href="#">组织&技术支持</a></dd>
                    <dd><a href="#">报告侵犯知识产权</a></dd>
                </dl>
                <dl>
                    <dt>合作伙伴推广</dt>
                    <dd><a href="#">合作伙伴关系</a></dd>
                    <dd><a href="#">开放平台</a></dd>
                    <dd><a href="#">网站合作</a></dd>
                </dl>
                <dl>
                    <dt>联系我们</dt>
                    <dd>咨询热线：400-0000-0000</dd>
                    <dd>邮箱：accmould@163.com</dd>
                    <dd>工作时间：周一至周五 9:00～17:00</dd>
                </dl>
            </div>
            <div class="wx-code">
                <p class="img"><img src="images/wx-code.jpg" alt=""></p>
                <p class="text">关注官方微信</p>
            </div>
        </div>
    </div>
    <div class="footer-friend-link">
        <div class="container">
            <span>友情链接：</span>
            <a href="#">Acc+Mould Group</a>
            <a href="#">China mold network</a>
            <a href="#">China's technology network</a>
            <a href="#">Juhuasuan</a>
            <a href="#">boc.cn</a>
            <a href="#">icbc.com.cn</a>
            <a href="#">abchina.com Acc+Mould Cloud</a>
            <a href="#">YunOS</a>
            <a href="#">AliTeleco</a>
        </div>
    </div>
</div>

<div class="footer">
    <div class="container">
        <p class="footer-t">
            <a href="#">网站首页</a>
            <a href="#">关于我们</a>
            <a href="#">联系方式</a>
            <a href="#">使用协议</a>
            <a href="#">版权隐私</a>
            <a href="#">广告服务</a>
        </p>
        <p class="copyright">&copy;2010-2017 Acc+Mould.All rights reserved. 浙ICP备100000000号</p>
    </div>
</div>

<div class="send-form">
    <form method="post" action="#">
        <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <thead>
            <tr>
                <td colspan="2">我的投标</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>公司名称：</td>
                <td><input type="text" name="time"></td>
            </tr>
            <tr>
                <td>公司地址：</td>
                <td><input type="text" name="time"></td>
            </tr>
            <tr>
                <td>联系电话：</td>
                <td><input type="text" name="time"></td>
            </tr>
            <tr>
                <td>联系人：</td>
                <td><input type="text" name="time"></td>
            </tr>
            <tr>
                <td>注册资金：</td>
                <td><input type="text" name="time"><span>万</span></td>
            </tr>
            <tr>
                <td>公司名称：</td>
                <td><input type="text" name="time"><span>人</span></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="立即投标" class="btn">
                    <input type="reset" value="取消" class="btn reset">
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>


<script>
    $(function () {
        sendQuote();

        function sendQuote() {
            $(document).on('click','#bd-bidding',function () {
                $('.send-form').show();
                $('body').append('<div class="mask"></div>');
                var bodyHeight = $('body').height();
                console.log(bodyHeight);
                $('.mask').height(bodyHeight);
            });
            $(document).on('click','.reset',function () {
                $('.mask').remove();
                $('.send-form').hide();
            });
            $(document).on('click','.mask',function(){
                $('.mask').remove();
                $('.send-form').hide();
            });
        }

    })
</script>
</body>
</html>