<div class="home">
    <div class="h-f-bg b-inquiry-style"></div>
    <div class="h-demand-container">
        <div class="container">
            <div class="h-pd-content">
                <div class="pd-form">
                    <form method="post" action="#">
                        <div class="li p-li">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>标题</td>
                                    <td><input type="text" name="title"></td>
                                </tr>
                                <tr>
                                    <td>报名截止时间</td>
                                    <td><input type="text" name="time"></td>
                                </tr>
                                <tr>
                                    <td>开模次数</td>
                                    <td><input type="text" name="num"></td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: middle;">图纸</td>
                                    <td>
                                        <div class="td-l">
                                            <input type="file" name="file">
                                            <div class="btn">上传图片</div>
                                        </div>
                                        <div class="td-text">
                                            <p>*若涉及到图纸说明请以压缩的形式打包上传；没有涉及可不传</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>产品类型</td>
                                    <td><input type="text" name="style"></td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top;">模具钢材要求及产品材料要求</td>
                                    <td><textarea cols="" rows="5" name="area1"></textarea></td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top;">技术要求</td>
                                    <td><textarea cols="" rows="5" name="jsyq"></textarea></td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top;">备注</td>
                                    <td><textarea cols="" rows="5" name="bz"></textarea></td>
                                </tr>

                            </table>
                        </div>
                        <div class="hd-submit">
                            <input type="submit" value="发布询价" name="submit" class="submit">
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>