<div class="home">
    <div class="h-process-container mold-bidding">
        <div class="h-process-content pu-container">
            <div class="container">
                <div class="pu-breadcrumbs clearfix">
                    <ul class="clearfix">
                        <li><a href="?href=index">首页</a></li>
                        <span>&gt;</span>
                        <li><a href="?href=mold_bidding">模具招投标</a></li>
                    </ul>
                    <p class="number">共找到<span class="light">1234</span>信息</p>
                </div>
                <div class="mold-bidding-nav">
                    <ul class="clearfix">
                        <li><a href="?href=mold_bidding">招标列表</a></li>
                        <li class="li-cur"><a href="?href=bidding_transaction">询价交易</a> </li>
                    </ul>
                </div>
                <div class="pu-filter">
                    <div class="pu-filter-item clearfix">
                        <p class="title">产品类型：</p>
                        <p class="text">
                            <span>全部</span>
                            <span class="cur-color">模具钢</span>
                            <span>模架</span>
                            <span>热流道</span>
                            <span>标准件</span>
                            <span>电极（石墨）</span>
                            <span>模具油缸</span>
                            <span>刀具</span>
                            <span>耗材</span>
                            <span>模具加工设备</span>
                        </p>
                    </div>
                    <div class="pu-filter-item clearfix">
                        <p class="title">地区：</p>
                        <p class="text">
                            <span>全部</span>
                            <span>北京市</span>
                            <span>天津市</span>
                            <span class="cur-color">河北省</span>
                            <span>辽宁省</span>
                            <span>辽宁省</span>
                            <span>辽宁省</span>
                            <span>辽宁省</span>
                            <span>辽宁省</span>
                            <span>辽宁省</span>
                            <span>辽宁省</span>
                            <span>辽宁省</span>
                            <span>辽宁省</span>
                            <span>辽宁省</span>
                            <span>辽宁省</span>
                            <span>辽宁省</span>
                            <span>辽宁省</span>
                            <span>辽宁省</span>
                            <span>辽宁省</span>
                        </p>
                    </div>
                </div>
                <div class="pu-nav">
                    <ul class="clearfix">
                        <li class="cur-color">
                            <a href="#">
                                发布时间
                                <i class="icon icon-angle-down"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                价格
                                <i class="icon icon-angle-down"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                所在地区
                                <i class="icon icon-angle-down"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="h-p-lists">
                    <div class="h-p-item m-b">
                        <div class="li item-l">
                            <p class="item-l-text">加工4号这里是加工内容</p>
                            <p class="font-size-12 times">发布日期：2017-12-18</p>
                            <p class="font-size-12 primary">广州测试公司</p>
                        </div>
                        <div class="li item-r">
                            <div class="item-r-l">
                                <p class="status"><span>已报价</span></p>
                                <p><span>有效日期：</span>2017.12.31</p>
                                <p><span>剩余：</span><span class="light">20</span>天</p>
                            </div>
                        </div>
                        <div class="li item-m">
                            <p class="left">已有<span class="light">5</span>家报名</p>
                            <div class="item-r-r">
                                <a href="bidding_inquiry_details.html">我要报价</a>
                            </div>
                        </div>

                    </div>
                    <div class="h-p-item m-b">
                        <div class="li item-l">
                            <p class="item-l-text">加工4号这里是加工内容</p>
                            <p class="font-size-12 times">发布日期：2017-12-18</p>
                            <p class="font-size-12 primary">广州测试公司</p>
                        </div>
                        <div class="li item-r">
                            <div class="item-r-l">
                                <p class="status"><span class="carry-out">已结束</span></p>
                                <p><span>有效日期：</span>2017.12.31</p>
                                <p><span>剩余：</span><span class="light">20</span>天</p>
                            </div>
                        </div>
                        <div class="li item-m">
                            <p class="left">已有<span class="light">5</span>家报名</p>
                            <div class="item-r-r">
                                <a href="#" class="over">我要报价</a>
                            </div>
                        </div>

                    </div>
                    <div class="h-p-item m-b">
                        <div class="li item-l">
                            <p class="item-l-text">加工4号这里是加工内容</p>
                            <p class="font-size-12 times">发布日期：2017-12-18</p>
                            <p class="font-size-12 primary">广州测试公司</p>
                        </div>
                        <div class="li item-r">
                            <div class="item-r-l">
                                <p class="status"><span class="primary">未报价</span></p>
                                <p><span>有效日期：</span>2017.12.31</p>
                                <p><span>剩余：</span><span class="light">20</span>天</p>
                            </div>
                        </div>
                        <div class="li item-m">
                            <p class="left">已有<span class="light">5</span>家报名</p>
                            <div class="item-r-r">
                                <a href="#">我要报价</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination clearfix">
                    <ul class="clearfix">
                        <li class="prev-page">上一页</li>
                        <li class="page-cur">1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li class="next-page">下一页</li>
                    </ul>
                    <div class="p-jump">
                        <span class="text">共<i>1</i>页</span>
                        <span>
                            到<input type="text" name="page"/>页
                        </span>
                        <span class="confirm">确定</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-footer">
    <div class="footer-link clearfix">
        <div class="container">
            <div class="footer-link-l">
                <dl>
                    <dt>购物指南</dt>
                    <dd><a href="#">快捷支付</a></dd>
                    <dd><a href="#">交付选项</a></dd>
                    <dd><a href="#">卖家保护</a></dd>
                    <dd><a href="#">新用户指南</a></dd>
                </dl>
                <dl>
                    <dt>商家服务</dt>
                    <dd><a href="#">商家入驻</a></dd>
                    <dd><a href="#">商家中心</a></dd>
                    <dd><a href="#">物流服务</a></dd>
                    <dd><a href="#">运营服务</a></dd>
                </dl>
                <dl>
                    <dt>平台保障</dt>
                    <dd><a href="#">客服中心</a></dd>
                    <dd><a href="#">交易服务协议</a></dd>
                    <dd><a href="#">接收我们的调查</a></dd>
                    <dd><a href="#">组织&技术支持</a></dd>
                    <dd><a href="#">报告侵犯知识产权</a></dd>
                </dl>
                <dl>
                    <dt>合作伙伴推广</dt>
                    <dd><a href="#">合作伙伴关系</a></dd>
                    <dd><a href="#">开放平台</a></dd>
                    <dd><a href="#">网站合作</a></dd>
                </dl>
                <dl>
                    <dt>联系我们</dt>
                    <dd>咨询热线：400-0000-0000</dd>
                    <dd>邮箱：accmould@163.com</dd>
                    <dd>工作时间：周一至周五 9:00～17:00</dd>
                </dl>
            </div>
            <div class="wx-code">
                <p class="img"><img src="images/wx-code.jpg" alt=""></p>
                <p class="text">关注官方微信</p>
            </div>
        </div>
    </div>
    <div class="footer-friend-link">
        <div class="container">
            <span>友情链接：</span>
            <a href="#">Acc+Mould Group</a>
            <a href="#">China mold network</a>
            <a href="#">China's technology network</a>
            <a href="#">Juhuasuan</a>
            <a href="#">boc.cn</a>
            <a href="#">icbc.com.cn</a>
            <a href="#">abchina.com Acc+Mould Cloud</a>
            <a href="#">YunOS</a>
            <a href="#">AliTeleco</a>
        </div>
    </div>
</div>

<div class="footer">
    <div class="container">
        <p class="footer-t">
            <a href="#">网站首页</a>
            <a href="#">关于我们</a>
            <a href="#">联系方式</a>
            <a href="#">使用协议</a>
            <a href="#">版权隐私</a>
            <a href="#">广告服务</a>
        </p>
        <p class="copyright">&copy;2010-2017 Acc+Mould.All rights reserved. 浙ICP备100000000号</p>
    </div>
</div>

</body>
</html>