<div class="home">
    <div class="container">
        <div class="pu-container">
            <div class="pu-breadcrumbs clearfix">
                <ul class="clearfix">
                    <li><a href="?href=index">首页</a></li>
                    <span>&gt;</span>
                    <li><a href="?href=bidding_transaction">询价信息</a></li>
                    <span>&gt;</span>
                    <li><a href="?href=purchase_info"></a></li>
                </ul>
                <!--<p class="number">共找到<span class="light">1234</span>信息</p>-->
            </div>
            <div class="pu-company-box clearfix">
                <div class="pu-company-l">
                    <h3 class="title bidding-content" data-field="company_name"><img src="images/vip.jpg"></h3>
                    <p class="text"><span class="color8">所在地区：</span><i class="bidding-content" data-field="company_address"></i></p>
                    <p class="more-need">
                        <!--<a href="#" class="clearfix"><span>更多Ta的采购需求</span><i class="icon icon-angle-double-right"></i> </a>-->
                    </p>
                </div>
                <div class="pu-company-r">
                    <a href="?href=bidding_inquiry" class="clearfix">
                        <img src="images/text1.png">
                        <span class="cur-color">我也要询价</span>
                    </a>
                </div>
            </div>
            <div class="pu-parameter bi-parameter">
                <h2 class="pu-parameter-title bidding-content" data-field="bidding_inquiry_title"></h2>
                <div class="zh-main-box">
                    <div class="pi-message">
                        <div class="pi-top">
                            <div class="pi-top-t clearfix">
                                <div class="li">
                                    <p class="text">报价人数</p>
                                    <p class="light"><i class="bidding-content" data-field="tender_inquiry_count"></i><span>个</span></p>
                                </div>
                                <div class="li">
                                    <p class="text">被查看次数</p>
                                    <p class="light"><i class="bidding-content" data-field="look_count"></i><span>次</span></p>
                                </div>
                                <div class="li">
                                    <p class="text">报价剩余天数</p>
                                    <p class="light"><i class="day-last">0</i><span>天</span></p>
                                </div>
                                <div class="li">
                                    <a href="#" class="bidding-quote action-button">我要报价</a>
                                </div>
                            </div>
                            <div class="pi-top-m clearfix">
                                <div class="li">
                                    <p class="text">报价截止日期</p>
                                    <p class="content bidding-content" data-field="end_time"></p>
                                </div>
                                <div class="li">
                                    <p class="text">信息发布日期</p>
                                    <p class="content bidding-content" data-field="start_time"></p>
                                </div>
                                <div class="li">
                                    <p class="text">开模次数</p>
                                    <p class="content bidding-content" data-field="modul_count"></p>
                                </div>
                                <div class="li">
                                    <p class="text">图纸下载</p>
                                    <p class="content cur-color"><a class="attachment">图纸.rar<i class="icon icon-arrow-circle-o-down"></i></a></p>
                                </div>
                            </div>
                        </div>
                        <div class="pi-bottom">
                            <div class="li">
                                <h3 class="title cur-color">模具钢材要求及产品材料要求</h3>
                                <p class="text bidding-content" data-field="m_requires"></p>
                            </div>
                            <div class="li">
                                <h3 class="title cur-color">技术要求</h3>
                                <p class="text bidding-content" data-field="t_requires"></p>
                            </div>
                            <div class="li">
                                <h3 class="title cur-color">备注</h3>
                                <p class="text bidding-content" data-field="remark"></p>
                            </div>
                        </div>
                    </div>
                    <div class="get-quote">
                        <h3 class="title cur-color">已收到的报价</h3>
                        <div class="table">
                            <table width="100%" cellpadding="0" cellspacing="0" border="1" bordercolor="#eee">
                                <thead>
                                <tr>
                                    <td>报价时间</td>
                                    <td>报价厂家</td>
                                    <td>所在地区</td>
                                </tr>
                                </thead>
                                <tbody class="tendered-container">
                                <tr class="tendered-template">
                                    <td class="tendered-content" data-field="tender_time"></td>
                                    <td class="tendered-content" data-field="company_name"></td>
                                    <td class="tendered-content" data-field="company_address"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="pi-need bd-need">
                        <!--<h2 class="pi-need-title">更多类似询价</h2>-->
                        <!--<div class="pi-need-lists clearfix">-->
                            <!--<div class="li">-->
                                <!--<div class="li-t">-->
                                    <!--<p class="li-t-title">加工4号这里是加工内容加工4号这里是加工内容加</p>-->
                                <!--</div>-->
                                <!--<div class="li-m">-->
                                    <!--<p><span>有效日期：</span>2017-12-18</p>-->
                                    <!--<p><span>交货地址：</span>广州测试地址</p>-->
                                <!--</div>-->
                                <!--<div class="li-b">-->
                                    <!--<button type="button" class="cur-background"><a href="?href=bidding_inquiry_details">我要报价</a> </button>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="li">-->
                                <!--<div class="li-t">-->
                                    <!--<p class="li-t-title">加工4号这里是加工内容加工4号这里是加工内容加</p>-->
                                <!--</div>-->
                                <!--<div class="li-m">-->
                                    <!--<p><span>有效日期：</span>2017-12-18</p>-->
                                    <!--<p><span>交货地址：</span>广州测试地址</p>-->
                                <!--</div>-->
                                <!--<div class="li-b">-->
                                    <!--<button type="button" class="cur-background"><a href="?href=bidding_inquiry_details">我要报价</a> </button>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="li">-->
                                <!--<div class="li-t">-->
                                    <!--<p class="li-t-title">加工4号这里是加工内容加工4号这里是加工内容加</p>-->
                                <!--</div>-->
                                <!--<div class="li-m">-->
                                    <!--<p><span>有效日期：</span>2017-12-18</p>-->
                                    <!--<p><span>交货地址：</span>广州测试地址</p>-->
                                <!--</div>-->
                                <!--<div class="li-b">-->
                                    <!--<button type="button" class="cur-background"><a href="?href=bidding_inquiry_details">我要报价</a> </button>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="li">-->
                                <!--<div class="li-t">-->
                                    <!--<p class="li-t-title">加工4号这里是加工内容加工4号这里是加工内容加</p>-->
                                <!--</div>-->
                                <!--<div class="li-m">-->
                                    <!--<p><span>有效日期：</span>2017-12-18</p>-->
                                    <!--<p><span>交货地址：</span>广州测试地址</p>-->
                                <!--</div>-->
                                <!--<div class="li-b">-->
                                    <!--<button type="button" class="cur-background"><a href="?href=bidding_inquiry_details">我要报价</a> </button>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="send-form send-bi">
        <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <thead>
            <tr>
                <td colspan="2">我的报价</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>价格：</td>
                <td><input type="text" name="price"><span>元</span></td>
            </tr>
            <tr>
                <td>运费：</td>
                <td><input type="text" name="fee" class="tender-content" data-field="freight"><span>元</span></td>
            </tr>
            <tr>
                <td>报价单：</td>
                <td><input type="text" name="price" class="uploaded" readonly><span class="up upload-button"><i class="icon icon icon-arrow-circle-o-down"></i></span>
                <input type="hidden" class="tender-content" data-field="tender_attachment">
                </td>
            </tr>
            <tr>
                <td></td>
                <td><p class="info">* 上传excel详细报价单</p></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="发送报价" class="btn submit-tender">
                    <input type="reset" value="取消" class="btn reset">
                </td>
            </tr>
            </tbody>
        </table>
</div>
<input type="file" class="files" id="tender_file" name="tender_file" style="display: none">



<script>
    $(function () {
        sendQuote();

        function sendQuote() {
            $(document).on('click','.bidding-quote',function () {
                $('.send-form').show();
                $('body').append('<div class="mask"></div>');
                var bodyHeight = $('body').height();
                console.log(bodyHeight);
                $('.mask').height(bodyHeight);
            });
            $(document).on('click','.reset',function () {
                $('.mask').remove();
                $('.send-form').hide();
            });
            $(document).on('click','.mask',function(){
                $('.mask').remove();
                $('.send-form').hide();
            });
        }

    })
</script>
<script>
    var id = getUrlParam('id');
    $(document).ready(function () {
        registEvent();
        initBidding(id);
        setUpload();
    });


    function registEvent() {
        $(document).on('click', '.upload-button', function () {
            $('#tender_file').click();
        });
        $(document).on('click', '.submit-tender', function () {
            var data = {bidding_inquiry: id};
            $('.tender-content').each(function(k,v){
               var field=$(v).data('field');
                data[field]=$(v).val();
            });
            console.log(data);
            ajaxPost('Bidding', 'add_tender', data, function (back) {
                backHandle(back, function (data) {
                    location.reload(true);
                }, function (errCode, errMsg) {
                    alert(errMsg);
                });
            });
            console.log(data);
        });
    }
    function initBidding(id, callback) {
        ajaxPost('Bidding', 'bidding_inquiry_detail', {id: id}, function (back) {
            backHandle(back, initContent, function (code, msg) {
                switch (code) {
                    case 101:
                        location.href = '?href=login';
                        break;
                    case 102:
                        location.href = '?href=pc_company_profile';
                        break;
                }
            });
            function initContent(backValue) {
                verifyLevel(3);
                console.log(backValue);
                var inf = backValue['biddingInf'];
                $('.bidding-content').each(function (k, v) {
                    var field = $(this).data('field');
                    $(this).removeAttr('data-attr');
                    $(this).text(inf[field] || '');
                });
                $('.attachment').attr('href',inf.attachment);
                $('.attachment').attr('href', inf.attachment);
//                        inf.start_time_unix=inf.start_time_unix||0;
//                        console.log(inf.start_time_unix);
                var nowTime = parseInt((new Date().getTime()) / 1000);
                console.log(nowTime);
                var dayLast = parseInt((parseInt(inf.end_time_unix) - nowTime) / 24 / 3600);
                if (dayLast > 0) {
                    $('.day-last').text(dayLast);
                } else {
                    $('.bidding-status').text('已完成');
                    $('.action-button').remove();
                }
                if (backValue.record) {
                    $('.bidding-status').text('已报价');
                    $('.action-button').remove();
                }
                var companyInf = backValue['companyInf'];
                $('.company-content').each(function (k, v) {
                    var field = $(v).data('field');
                    $(v).val(companyInf[field]);
                    $(v).removeAttr('data-field');
                });
                var tenders=backValue['tenders'];
                var tendersCreator=prepareElement('.tendered-template');
                console.log(tenders);
                if(tenders){
                    $.each(tenders,function(k,v){
                        var element=tendersCreator();
                        element.find('.tendered-content').each(function(id,subElement){
                            var field=$(subElement).data('field');
                            $(subElement).text(v[field]);
                        });
                        $('.tendered-container').append(element);
                    })
                }
            }


            if (callback)callback();
        });
    }

    function setUpload() {
        setUploadEvent('#tender_file', function (data) {
            $('.uploaded').val(data.originalName);
            $('.file-url').val(data.url);
            console.log(data);
        });
    }
</script>