<div class="home">
    <div class="container">
        <div class="pu-container">
            <div class="pu-breadcrumbs clearfix">
                <ul class="clearfix">
                    <li><a href="?href=index">首页</a></li>
                    <span>&gt;</span>
                    <li><a href="?href=purchase_info">采购信息</a></li>
                    <span>&gt;</span>
                    <li><a href="?href=purchase_info">这里是采购标题</a></li>
                </ul>
                <p class="number">共找到<span class="light">1234</span>信息</p>
            </div>
            <div class="pu-company-box clearfix">
                <div class="pu-company-l">
                    <h3 class="title">宁波汽车有限公司<img src="images/vip.jpg"></h3>
                    <p class="text"><span class="color8">所在地区：</span>广东广州</p>
                    <p class="more-need">
                        <a href="#" class="clearfix"><span>更多Ta的采购需求</span><i class="icon icon-angle-double-right"></i> </a>
                    </p>
                </div>
                <div class="pu-company-r">
                    <a href="?href=bidding_inquiry" class="clearfix">
                        <img src="images/text1.png">
                        <span class="cur-color">我也要询价</span>
                    </a>
                </div>
            </div>
            <div class="pu-parameter bi-parameter">
                <h2 class="pu-parameter-title">模具测试</h2>
                <div class="zh-main-box">
                    <div class="pi-message">
                        <div class="pi-top">
                            <div class="pi-top-t clearfix">
                                <div class="li">
                                    <p class="text">报价人数</p>
                                    <p class="light">12<span>个</span></p>
                                </div>
                                <div class="li">
                                    <p class="text">被查看次数</p>
                                    <p class="light">500<span>次</span></p>
                                </div>
                                <div class="li">
                                    <p class="text">报价剩余天数</p>
                                    <p class="light">20<span>天</span></p>
                                </div>
                                <div class="li">
                                    <a href="#" class="bidding-quote">我要报价</a>
                                </div>
                            </div>
                            <div class="pi-top-m clearfix">
                                <div class="li">
                                    <p class="text">报价截止日期</p>
                                    <p class="content">2017.12.31</p>
                                </div>
                                <div class="li">
                                    <p class="text">信息发布日期</p>
                                    <p class="content">2017.12.01</p>
                                </div>
                                <div class="li">
                                    <p class="text">开模次数</p>
                                    <p class="content">3</p>
                                </div>
                                <div class="li">
                                    <p class="text">图纸下载</p>
                                    <p class="content cur-color">图纸.rar<i class="icon icon-arrow-circle-o-down"></i></p>
                                </div>
                            </div>
                        </div>
                        <div class="pi-bottom">
                            <div class="li">
                                <h3 class="title cur-color">模具钢材要求及产品材料要求</h3>
                                <p class="text">测试技术要求</p>
                            </div>
                            <div class="li">
                                <h3 class="title cur-color">技术要求</h3>
                                <p class="text">详细说明内容</p>
                            </div>
                            <div class="li">
                                <h3 class="title cur-color">备注</h3>
                                <p class="text">测试测试</p>
                            </div>
                        </div>
                    </div>
                    <div class="get-quote">
                        <h3 class="title cur-color">已收到的报价</h3>
                        <div class="table">
                            <table width="100%" cellpadding="0" cellspacing="0" border="1" bordercolor="#eee">
                                <thead>
                                <tr>
                                    <td>报价时间</td>
                                    <td>报价厂家</td>
                                    <td>所在地区</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>2017.12.12</td>
                                    <td>广州****公司</td>
                                    <td>广东省 广州市</td>
                                </tr>
                                <tr>
                                    <td>2017.12.12</td>
                                    <td>广州****公司</td>
                                    <td>广东省 广州市</td>
                                </tr>
                                <tr>
                                    <td>2017.12.12</td>
                                    <td>广州****公司</td>
                                    <td>广东省 广州市</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="pi-need bd-need">
                        <h2 class="pi-need-title">更多类似询价</h2>
                        <div class="pi-need-lists clearfix">
                            <div class="li">
                                <div class="li-t">
                                    <p class="li-t-title">加工4号这里是加工内容加工4号这里是加工内容加</p>
                                </div>
                                <div class="li-m">
                                    <p><span>有效日期：</span>2017-12-18</p>
                                    <p><span>交货地址：</span>广州测试地址</p>
                                </div>
                                <div class="li-b">
                                    <button type="button" class="cur-background"><a href="?href=bidding_inquiry_details">我要报价</a> </button>
                                </div>
                            </div>
                            <div class="li">
                                <div class="li-t">
                                    <p class="li-t-title">加工4号这里是加工内容加工4号这里是加工内容加</p>
                                </div>
                                <div class="li-m">
                                    <p><span>有效日期：</span>2017-12-18</p>
                                    <p><span>交货地址：</span>广州测试地址</p>
                                </div>
                                <div class="li-b">
                                    <button type="button" class="cur-background"><a href="?href=bidding_inquiry_details">我要报价</a> </button>
                                </div>
                            </div>
                            <div class="li">
                                <div class="li-t">
                                    <p class="li-t-title">加工4号这里是加工内容加工4号这里是加工内容加</p>
                                </div>
                                <div class="li-m">
                                    <p><span>有效日期：</span>2017-12-18</p>
                                    <p><span>交货地址：</span>广州测试地址</p>
                                </div>
                                <div class="li-b">
                                    <button type="button" class="cur-background"><a href="?href=bidding_inquiry_details">我要报价</a> </button>
                                </div>
                            </div>
                            <div class="li">
                                <div class="li-t">
                                    <p class="li-t-title">加工4号这里是加工内容加工4号这里是加工内容加</p>
                                </div>
                                <div class="li-m">
                                    <p><span>有效日期：</span>2017-12-18</p>
                                    <p><span>交货地址：</span>广州测试地址</p>
                                </div>
                                <div class="li-b">
                                    <button type="button" class="cur-background"><a href="?href=bidding_inquiry_details">我要报价</a> </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-footer">
    <div class="footer-link clearfix">
        <div class="container">
            <div class="footer-link-l">
                <dl>
                    <dt>购物指南</dt>
                    <dd><a href="#">快捷支付</a></dd>
                    <dd><a href="#">交付选项</a></dd>
                    <dd><a href="#">卖家保护</a></dd>
                    <dd><a href="#">新用户指南</a></dd>
                </dl>
                <dl>
                    <dt>商家服务</dt>
                    <dd><a href="#">商家入驻</a></dd>
                    <dd><a href="#">商家中心</a></dd>
                    <dd><a href="#">物流服务</a></dd>
                    <dd><a href="#">运营服务</a></dd>
                </dl>
                <dl>
                    <dt>平台保障</dt>
                    <dd><a href="#">客服中心</a></dd>
                    <dd><a href="#">交易服务协议</a></dd>
                    <dd><a href="#">接收我们的调查</a></dd>
                    <dd><a href="#">组织&技术支持</a></dd>
                    <dd><a href="#">报告侵犯知识产权</a></dd>
                </dl>
                <dl>
                    <dt>合作伙伴推广</dt>
                    <dd><a href="#">合作伙伴关系</a></dd>
                    <dd><a href="#">开放平台</a></dd>
                    <dd><a href="#">网站合作</a></dd>
                </dl>
                <dl>
                    <dt>联系我们</dt>
                    <dd>咨询热线：400-0000-0000</dd>
                    <dd>邮箱：accmould@163.com</dd>
                    <dd>工作时间：周一至周五 9:00～17:00</dd>
                </dl>
            </div>
            <div class="wx-code">
                <p class="img"><img src="images/wx-code.jpg" alt=""></p>
                <p class="text">关注官方微信</p>
            </div>
        </div>
    </div>
    <div class="footer-friend-link">
        <div class="container">
            <span>友情链接：</span>
            <a href="#">Acc+Mould Group</a>
            <a href="#">China mold network</a>
            <a href="#">China's technology network</a>
            <a href="#">Juhuasuan</a>
            <a href="#">boc.cn</a>
            <a href="#">icbc.com.cn</a>
            <a href="#">abchina.com Acc+Mould Cloud</a>
            <a href="#">YunOS</a>
            <a href="#">AliTeleco</a>
        </div>
    </div>
</div>

<div class="footer">
    <div class="container">
        <p class="footer-t">
            <a href="#">网站首页</a>
            <a href="#">关于我们</a>
            <a href="#">联系方式</a>
            <a href="#">使用协议</a>
            <a href="#">版权隐私</a>
            <a href="#">广告服务</a>
        </p>
        <p class="copyright">&copy;2010-2017 Acc+Mould.All rights reserved. 浙ICP备100000000号</p>
    </div>
</div>

<div class="send-form send-bi">
    <form method="post" action="#">
        <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <thead>
            <tr>
                <td colspan="2">我的报价</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>价格：</td>
                <td><input type="text" name="price"><span>元</span></td>
            </tr>
            <tr>
                <td>运费：</td>
                <td><input type="text" name="fee"><span>元</span></td>
            </tr>
            <tr>
                <td>报价单：</td>
                <td><input type="text" name="price"><span class="up"><i class="icon icon icon-arrow-circle-o-down"></i></span></td>
            </tr>
            <tr>
                <td></td>
                <td><p class="info">* 上传excel详细报价单</p></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="发送报价" class="btn">
                    <input type="reset" value="取消" class="btn reset">
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>


<script>
    $(function () {
        sendQuote();

        function sendQuote() {
            $(document).on('click','.bidding-quote',function () {
                $('.send-form').show();
                $('body').append('<div class="mask"></div>');
                var bodyHeight = $('body').height();
                console.log(bodyHeight);
                $('.mask').height(bodyHeight);
            });
            $(document).on('click','.reset',function () {
                $('.mask').remove();
                $('.send-form').hide();
            });
            $(document).on('click','.mask',function(){
                $('.mask').remove();
                $('.send-form').hide();
            });
        }

    })
</script>
</body>
</html>