<script type="text/javascript" src="js/laydate.js"></script>
<div class="home">
    <div class="h-f-bg b-release-style"></div>
    <div class="h-demand-container">
        <div class="container">
            <div class="h-pd-content">
                <div class="pd-form">
                        <div class="li p-li">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>招标项目</td>
                                    <td><input type="text" name="title" class="bidding-content" data-field="bidding_title"></td>
                                </tr>
                                <tr>
                                    <td>投标截止时间</td>
                                    <td><input type="text" name="time" id="times" class="bidding-content" data-field="end_time" readonly></td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top;">项目要求</td>
                                    <td><textarea cols="" rows="5" name="area1" class="bidding-content" data-field="requires"></textarea></td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top;">投标公司要求</td>
                                    <td><textarea cols="" rows="5" name="area2" class="bidding-content" data-field="company_requires"></textarea></td>
                                </tr>

                            </table>
                        </div>
                        <div class="hd-submit">
                            <input type="submit" value="发布招标" name="submit" class="submit submit-bidding">
                        </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var biddingInf={};
    $(document).ready(function(){
        ajaxPost('User','get_company_inf',{},function(back){
            console.log(back);
            var backValue=backHandle(back,function(value){

            },function(errCode,errMsg){
                switch(errCode){
                    case 101:
                        location.href='?href=login';
                        break;
                    case 102:
                        location.href='?href=pc_company_profile'
                }
//               console.log(errMsg);
            })
        });
        initView();
        registEvent();
    });

    function initView(){
        laydate({
            elem:'#times',
            format: 'YYYY-MM-DD hh:mm:ss',
            show:true,
            start:laydate.now()
        });
    }
    function registEvent(){
        $(document).on('click','.submit-bidding',function(){
            var hasError=false;
           $('.bidding-content').each(function(k,v){
               var field=$(v).data('field');
               var value=$(v).val();
               if(value)biddingInf[field]=value;
               else hasError='内容不完整';
           });
            if(!hasError){
                ajaxPost('Bidding','add_bidding',biddingInf,function(back){
                    var backValue=backHandle(back);
                    if('ok'==backValue){
                        if(confirm('上传成功')){
                            location.reload(true);
                        }else{
                            location.reload(true);
                        }
                    }else{
                        alert('提交出错，请稍后重试');
                    }


//                    console.log(back);
                });
            }
            console.log(biddingInf);
        });
    }
</script>