
<div class="main">
    <div class="focus-container">
        <div class="focus" id="slidebox">
            <li style="background: url(images/focus1.jpg) center 0 no-repeat"></li>
            <li style="background: url(images/focus2.png) center 0 no-repeat"></li>
            <!--<li style="background: url(images/focus1.jpg) center 0 no-repeat"></li>-->
        </div>
        <div class="service-box">
            <div class="container">
                <div class="service-box-r">
                    <div class="member">
                        <p class="avatar-wrapper"></p>
                        <?php if(isset($_SESSION['user'])):?>
                        <p class="member-info">Hi，用户<?=$_SESSION['user']['user_tel']?>，您好</p>
                        <p class="member-text">欢迎访问一站式模具采购服务平台</p>
                        <p class="member-text">共享平台 省钱省心省时间</p>
                        <?php else:?>
                        <p class="member-info">Hi，您好</p>
                        <p class="member-text">欢迎来到一站式模具采购服务平台</p>
                        <div class="button clearfix">
                            <button type="button" class="btn-cur to-login">登录</button>
                            <button type="button" class="to-regist">注册</button>
                        </div>
                        <?php endif ?>

                    </div>
                    <div class="message">
                        <div class="message-t">
                            <p class="message-t-l"><span>新增求购</span><span class="light">232</span></p>
                            <p class="message-t-r"><a href="#"><span>更多</span><i class="icon icon-angle-right"></i></a></p>
                        </div>
                        <div class="message-b">
                            <p class="text" id="J_countName">累计询盘数目：</p>
                            <ul class="number-box countNum clearfix" id="J_countNum" data-count="83840,16,20">
                                <li>
                                    <span><i>0</i><i>1</i><i>2</i><i>3</i><i>4</i><i>5</i><i>6</i><i>7</i><i>8</i><i>9</i></span>
                                </li>
                                <li>
                                    <span><i>0</i><i>1</i><i>2</i><i>3</i><i>4</i><i>5</i><i>6</i><i>7</i><i>8</i><i>9</i></span>
                                </li>
                                <li>
                                    <span><i>0</i><i>1</i><i>2</i><i>3</i><i>4</i><i>5</i><i>6</i><i>7</i><i>8</i><i>9</i></span>
                                </li>
                                <li class="comma">,</li>
                                <li>
                                    <span><i>0</i><i>1</i><i>2</i><i>3</i><i>4</i><i>5</i><i>6</i><i>7</i><i>8</i><i>9</i></span>
                                </li>
                                <li>
                                    <span><i>0</i><i>1</i><i>2</i><i>3</i><i>4</i><i>5</i><i>6</i><i>7</i><i>8</i><i>9</i></span>
                                </li>
                                <li>
                                    <span><i>0</i><i>1</i><i>2</i><i>3</i><i>4</i><i>5</i><i>6</i><i>7</i><i>8</i><i>9</i></span>
                                </li>
                                <li class="comma">,</li>
                                <li>
                                    <span><i>0</i><i>1</i><i>2</i><i>3</i><i>4</i><i>5</i><i>6</i><i>7</i><i>8</i><i>9</i></span>
                                </li>
                                <li>
                                    <span><i>0</i><i>1</i><i>2</i><i>3</i><i>4</i><i>5</i><i>6</i><i>7</i><i>8</i><i>9</i></span>
                                </li>
                                <li>
                                    <span><i>0</i><i>1</i><i>2</i><i>3</i><i>4</i><i>5</i><i>6</i><i>7</i><i>8</i><i>9</i></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="index-supplier-box">
        <div class="container">
            <div class="index-supplier">
                <h2 class="section-title"><span>优质供应商</span></h2>
                <ul class="supplier-box clearfix company-intro">
                    <li class="clearfix company-intro-template to-company" style="cursor: pointer">
                        <div class="supplier-img-wrapper"><img class="company_img" src="" alt=""></div>
                        <div class="supplier-text">
                            <h5 class="content" data-field="company_name"></h5>
                            <p>主营：<span class="content" data-field="major_business"></span></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="index-section">
            <div class="container">
                <div class="main-el clearfix">
                    <div class="el-left">
                        <h3 class="el-title">我要加工</h3>
                        <p class="el-text">真实有效的定制需求</p>
                        <hr />
                        <a href="?href=process_demand" class="el-btn">发布加工需求</a>
                    </div>
                    <div class="el-right clearfix">
                        <div class="el-item el-right-l">
                            <div class="el-item-title">
                                <h2 class="primary">最新加工需求</h2>
                                <a href="?href=process" class="more">更多&gt;</a>
                            </div>
                            <div class="el-item-list">
                                <div class="thead">
                                    <ul class="clearfix">
                                        <li>加工内容</li>
                                        <li>工序</li>
                                        <li>公司</li>
                                        <li>地址</li>
                                        <li>有效期</li>
                                        <li>发布时间</li>
                                    </ul>
                                </div>
                                <div class="tbody process-need-container">
                                    <a href="#" class="process-need-template">
                                        <ul>
                                            <li class="process-content" data-field="process_need_title"></li>
                                            <li class="process-content" data-field="process_steps"></li>
                                            <li class="process-content" data-field="company_name"></li>
                                            <li class="process-content" data-field="company_address"></li>
                                            <li class="process-content" data-field="end_time"></li>
                                            <li  class="process-content" data-field="start_time"></li>
                                        </ul>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="el-item el-right-r">
                            <div class="el-item-title">
                                <h2 class="primary">最新订单</h2>
                            </div>
                            <div class="el-item-list">
                                <div class="thead">
                                    <ul class="clearfix">
                                        <li>加工方</li>
                                        <li>加工内容</li>
                                        <li>交易状态</li>
                                        <li>时间</li>
                                    </ul>
                                </div>
                                <div class="tbody">
                                    <a href="#">
                                        <ul>
                                            <li>张**</li>
                                            <li>加工4号这里是加加工4号这里是加</li>
                                            <li>已报价</li>
                                            <li>12.12.</li>
                                        </ul>
                                    </a>
                                    <a href="#">
                                        <ul>
                                            <li>张**</li>
                                            <li>加工4号这里是加加工4号这里是加</li>
                                            <li>已报价</li>
                                            <li>12.12.</li>
                                        </ul>
                                    </a>
                                    <a href="#">
                                        <ul>
                                            <li>张**</li>
                                            <li>加工4号这里是加加工4号这里是加</li>
                                            <li>已报价</li>
                                            <li>12.12.</li>
                                        </ul>
                                    </a>
                                    <a href="#">
                                        <ul>
                                            <li>张**</li>
                                            <li>加工4号这里是加加工4号这里是加</li>
                                            <li>已报价</li>
                                            <li>12.12.</li>
                                        </ul>
                                    </a>
                                    <a href="#">
                                        <ul>
                                            <li>张**</li>
                                            <li>加工4号这里是加加工4号这里是加</li>
                                            <li>已报价</li>
                                            <li>12.12.</li>
                                        </ul>
                                    </a>
                                    <a href="#">
                                        <ul>
                                            <li>张**</li>
                                            <li>加工4号这里是加加工4号这里是加</li>
                                            <li>已报价</li>
                                            <li>12.12.</li>
                                        </ul>
                                    </a>
                                    <a href="#">
                                        <ul>
                                            <li>张**</li>
                                            <li>加工4号这里是加加工4号这里是加</li>
                                            <li>已报价</li>
                                            <li>12.12.</li>
                                        </ul>
                                    </a>
                                    <a href="#">
                                        <ul>
                                            <li>张**</li>
                                            <li>加工4号这里是加加工4号这里是加</li>
                                            <li>已报价</li>
                                            <li>12.12.</li>
                                        </ul>
                                    </a>
                                    <a href="#">
                                        <ul>
                                            <li>张**</li>
                                            <li>加工4号这里是加加工4号这里是加</li>
                                            <li>已报价</li>
                                            <li>12.12.</li>
                                        </ul>
                                    </a>
                                    <a href="#">
                                        <ul>
                                            <li>张**</li>
                                            <li>加工4号这里是加加工4号这里是加</li>
                                            <li>已报价</li>
                                            <li>12.12.</li>
                                        </ul>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-el clearfix">
                    <div class="el-left el-left2">
                        <h3 class="el-title">模具招标</h3>
                        <p class="el-text">模具设备采购解决方案</p>
                        <hr />
                        <a href="?href=bidding_release" class="el-btn">发布招标</a>
                    </div>
                    <div class="el-right clearfix">
                        <div class="el-item el-bidding">
                            <div class="el-item-title">
                                <h2 class="primary">最新招标</h2>
                                <a href="?href=bidding" class="mold_bidding">更多&gt;</a>
                            </div>
                            <div class="el-bidding-box bidding-container">
                                <div class="el-bidding-item clearfix bidding-template">
                                    <div class="item-l">
                                        <h4 class="title bidding-content" data-field="bidding_title"></h4>
                                        <p class="item-claim">项目要求：<span class="bidding-content" data-field="requires"></span></p>
                                        <p class="times">有效日期：<span  class="bidding-content" data-field="end_time"></span></p>
                                    </div>
                                    <div class="item-r">
                                        <a href="#" class="btn btn-primary to-bidding-detail">我要投标</a>
                                        <p class="times">发布日期:<span class="bidding-content" data-field="start_time"></span></p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="el-item el-bidding">
                            <div class="el-item-title">
                                <h2 class="primary">最新报价</h2>
                                <a href="?href=bidding_transaction" class="more">更多&gt;</a>
                            </div>
                            <div class="el-bidding-box bidding-tender-container">
                                <div class="el-bidding-item clearfix bidding-tender">
                                    <div class="item-l">
                                        <h4 class="title tender-content" data-field="bidding_inquiry_title"></h4>
                                        <p class="item-claim">项目要求：<span class="tender-content" data-field="t_requires">求</span></p>
                                        <p class="times">有效日期：<span class="tender-content" data-field="end_time"></span></p>
                                    </div>
                                    <div class="item-r">
                                        <a href="#" class="btn btn-light button-to-inquiry">我要报价</a>
                                        <p class="times">发布日期:<span class="tender-content" data-field="start_time"></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="smart-match">
                    <a href="#">
                        <img src="images/bidding.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="index-purchase-box">
        <div class="container">
            <div class="index-purchase-lists">
                <h2 class="section-title"><span>我要采购</span></h2>
                <div class="purchase-module clearfix product-container">
                    <div class="p-m-li product-template">
                        <div class="li-title purple-bg clearfix">
                            <div class="li-title-l clearfix">
                                <span class="img"><img src="images/icon1.png"></span>
                                <span class="text category-name"></span>
                            </div>
                            <div class="li-title-r"><a class="to-purchase" href="#"> 更多&gt;</a></div>
                        </div>
                        <div class="li-item clearfix">
                            <div class="li-item-l">
                                <a class="to-detail" id="href0">
                                <div class="li-item-l-t">
                                    <h3 class="purple-color" id="name0">长祥特钢S136</h3>
                                    <p class="text">￥<span id="price0">0.00</span>/<span class="unit-name"></span></p>
                                </div>
                                <p class="img"><img id="img0" src="images/purchase-l.jpg"></p>
                                </a>
                            </div>
                            <ul class="li-item-r clearfix">
                                <li>
                                    <a class="to-detail" id="href1">
                                    <div class="li-item-r-t">
                                        <h4 id="name1">长祥特钢S136</h4>
                                        <p class="purple-color price">￥<span id="price1">0.00</span>/<span class="unit-name"></span></p>
                                    </div>
                                    <p class="img"><img id="img1" src="images/purchase-r.jpg"></p>
                                        </a>
                                </li>
                                <li>
                                    <a class="to-detail" id="href2">
                                    <div class="li-item-r-t">
                                        <h4 id="name2">长祥特钢S136</h4>
                                        <p class="purple-color price">￥<span id="price2">0.00</span>/<span class="unit-name"></span></p>
                                    </div>
                                    <p class="img"><img id="img2" src="images/purchase-r.jpg"></p>
                                        </a>
                                </li><li>
                                <a class="to-detail" id="href3">
                                <div class="li-item-r-t">
                                    <h4 id="name3">长祥特钢S136</h4>
                                    <p class="purple-color price">￥<span id="price3">0.00</span>/<span class="unit-name"></span></p>
                                </div>
                                <p class="img"><img id="img3" src="images/purchase-r.jpg"></p>
                                    </a>
                            </li><li>
                                <a class="to-detail" id="href4">
                                <div class="li-item-r-t">
                                    <h4 id="name4">长祥特钢S136</h4>
                                    <p class="purple-color price">￥<span id="price4">0.00</span>/<span class="unit-name"></span></p>
                                </div>
                                <p class="img"><img id="img4" src="images/purchase-r.jpg"></p>
                                    </a>
                            </li>
                            </ul>
                        </div>
                        <div class="li-logo clearfix">
                            <a href="#"><img src="images/i-p1.jpg"></a>
                            <a href="#"><img src="images/i-p2.jpg"></a>
                            <a href="#"><img src="images/i-p3.jpg"></a>
                            <a href="#"><img src="images/i-p4.jpg"></a>
                            <a href="#"><img src="images/i-p5.jpg"></a>
                        </div>
                    </div>
                </div>
                <div class="smart-match">
                    <a href="#">
                        <img src="images/index1.jpg" alt="">
                    </a>
                </div>
                <div class="hot-news">
                    <h2 class="h-news-title">热门话题<a href="#" class="more">更多&gt;</a></h2>
                    <div class="h-news-box clearfix">
                        <div class="h-news-item">
                            <div class="item-t clearfix">
                                <div class="item-t-l">
                                    <p class="img"><img src="images/index2.jpg"></p>
                                    <div class="item-t-l-h">
                                        <a href="#">查看详细</a>
                                    </div>
                                </div>
                                <div class="item-t-r">
                                    <h3 class="title"><a href="#"> 艾格瑞特公布了格瑞特公布了格瑞特公布了格瑞特公布了格瑞特公布了格瑞特公布了</a></h3>
                                    <p class="text">12月8日上午，公司总裁刘忠辉先生公布了艾格瑞特正式开业时间，决定于2018年1月19日举行开业盛典。他强调，本次活动倡导节俭、时尚！届时将诚邀模具行业供应商...</p>
                                    <p class="times">2014.11.18</p>
                                </div>
                            </div>
                            <ul class="item-b">
                                <li>
                                    <a href="#">
                                        <p>第三届全球模具材料及配件应用交流大会论坛</p>
                                        <span class="times">2017.11.18</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <p>第三届全球模具材料及配件应用交流大会论坛</p>
                                        <span class="times">2017.11.18</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <p>第三届全球模具材料及配件应用交流大会论坛</p>
                                        <span class="times">2017.11.18</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="h-news-item">
                            <div class="item-t clearfix">
                                <div class="item-t-l">
                                    <p class="img"><img src="images/index2.jpg"></p>
                                    <div class="item-t-l-h">
                                        <a href="#">查看详细</a>
                                    </div>
                                </div>
                                <div class="item-t-r">
                                    <h3 class="title"><a href="#"> 艾格瑞特公布了格瑞特公布了格瑞特公布了格瑞特公布了格瑞特公布了格瑞特公布了</a></h3>
                                    <p class="text">12月8日上午，公司总裁刘忠辉先生公布了艾格瑞特正式开业时间，决定于2018年1月19日举行开业盛典。他强调，本次活动倡导节俭、时尚！届时将诚邀模具行业供应商...</p>
                                    <p class="times">2014.11.18</p>
                                </div>
                            </div>
                            <ul class="item-b">
                                <li>
                                    <a href="#">
                                        <p>第三届全球模具材料及配件应用交流大会论坛</p>
                                        <span class="times">2017.11.18</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <p>第三届全球模具材料及配件应用交流大会论坛</p>
                                        <span class="times">2017.11.18</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <p>第三届全球模具材料及配件应用交流大会论坛</p>
                                        <span class="times">2017.11.18</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="index-server-box">
        <div class="container">
            <div class="index-brand">
                <h2 class="index-brand-title">战略合作品牌<span>信任我们的一些客户</span></h2>
                <div class="brand-box">
                    <a href="#">
                        <img src="images/i-p1.jpg">
                    </a>
                    <a href="#">
                        <img src="images/i-p2.jpg">
                    </a>
                    <a href="#">
                        <img src="images/i-p3.jpg">
                    </a>
                    <a href="#">
                        <img src="images/i-p4.jpg">
                    </a>
                    <a href="#">
                        <img src="images/i-p5.jpg">
                    </a>
                    <a href="#">
                        <img src="images/i-p6.jpg">
                    </a>
                    <a href="#">
                        <img src="images/i-p7.jpg">
                    </a>

                </div>
            </div>
        </div>
    </div>
    <div class="index-loan-box">
        <p class="text">享受更便捷、更省息的银行贷款服务</p>
        <h2 class="title">我们提供免费的工具和资源来帮助你达到你的目标</h2>
        <p class="button"><a href="#">了解详情</a></p>
    </div>
</div>




<link href="slick/slick.css" rel="stylesheet">
<script src="slick/slick.min.js"></script>
<script>
    $('#slidebox').slick({
        autoplay:true,
        arrows:true,
        prevArrow:'<span class="slick-prev icon icon-angle-left"></span>',
        nextArrow:'<span class="slick-next icon icon-angle-right"></span>',
        dots:true,
        fade:true
    });
</script>
<script>
    var lang_obj={
        index_banner:{
            'name1':'累计交易金额:',
            'name2':'累计询盘数目:',
            'name3':'累计产品总数:'
        }
    }

    $(function(e){
        var leftpad = function(e, t, n) {
            e = "" + e;
            var r = t - e.length;
            return 0 >= r ? e : new Array(r + 1).join("" + n || " ") + e
        };

        fp = function() {
            var i = e("#J_countNum").attr("data-count");
            if (i) {
                var o = i.split(","),
                    n = 0,
                    t = lang_obj.index_banner.name1,
                    a = function() {
                        var i = "<span><i>0</i><i>1</i><i>2</i><i>3</i><i>4</i><i>5</i><i>6</i><i>7</i><i>8</i><i>9</i></span>",
                            a = e("#J_countNum").children("li").not(".comma"),
                            l = o[n],
                            s = leftpad(l, 9, 0),
                            r = 9,
                            c = function() {
                                function e() {
                                    n.removeClass().addClass("num-" + o),
                                        c()
                                }
                                if (r >= 0) {
                                    a.eq(r).html(i);
                                    var o = String(s).charAt(r) || 0,
                                        n = a.eq(r).find("span");
                                    setTimeout(e, 200)
                                }
                                r--
                            };
                        c(),
                        0 == n && (t = lang_obj.index_banner.name1),
                        1 == n && (t = lang_obj.index_banner.name2),
                        2 == n && (t = lang_obj.index_banner.name3),
                            n++,
                        n > 2 && (n = 0),
                            e("#J_countName").html(t)
                    };
                setInterval(function() {
                    a()
                }, 8e3)
            }
        };
        fp();
    });
</script>
<script>
    $(document).ready(function() {
        var companyList = new ContentHandler('company_list',companyListHandler);
        companyList.setNumber(10);
        companyList.setOrder('priority',false);
        companyList.getList();
        var productList = new ContentHandler('product_index_list',productListHandler);

        productList.getList();

        var processNeedList=new ContentHandler('process_need_list_index',processListHandler);
        processNeedList.setNumber(6);
        processNeedList.getList();

        var biddingList=new ContentHandler('bidding_list_index',biddingListHandler);
        biddingList.setNumber(3);
        biddingList.getList();

        var biddingInquiryList=new ContentHandler('bidding_inquiry_list',biddingTenderListHandler);
        biddingList.setNumber(3);
        biddingInquiryList.getList();
        registEvent();
    });
    function registEvent(){
        $(document).on('click','a.to-detail',function(){
            var  productId=$(this).data('pid');
            sessionStorage.currentProductId=productId;
            location.href='?href=purchase_details';
//            console.log(productId);
        });
        $(document).on('click','.to-purchase',function(){
            var id=$(this).attr('id').slice(3);
            sessionStorage.currentCategoryId=id;
            location.href='?href=purchase';
        });
        $(document).on('click','.to-company',function(){
           var id=$(this).attr('id').slice(3);
            sessionStorage.currentCompanyId=id;
            location.href='?href=shop_home&static=1';
        });
        $(document).on('click', '.to-login',function(){
            location.href='?href=login'
        })
        $(document).on('click', '.to-regist',function(){
            location.href='?href=regist'
        })
    }
    function companyListHandler(back) {
        var _=this;
        console.log(back);
        var companyLiCreator = _.prepareElement('.company-intro-template');
        $('.company-intro').empty();
        $.each(back, function (k, v) {
            var allImg=JSON.parse(v.img);
            var element = companyLiCreator();
            element.attr('id','com'+ v.company_id);
            element.find('.content').each(function(id,subElement){
                var field=$(subElement).data('field');
                $(subElement).removeAttr('data-field');
                $(subElement).text(v[field]);
            });
            element.find('.company_img').attr('src',allImg.logo);
            $('.company-intro').append(element);
        });
    }
    function productListHandler(back){
        console.log(back);
        var _=this;
        var productCreator= _.prepareElement('.product-template');
        $('.product-container').empty();
        $.each(back,function(k,v){
            if(v.products.length>0){
                var element=productCreator();
                element.find('.category-name').text(v.category_name);
                element.find('.unit-name').text(v.unit_name);
                element.find('.to-purchase').attr('id','cat'+ v.category_id);
                $.each(v.products,function(id,product){
                    var img={};
                    var attr={};
                    try{
                        img=JSON.parse(product.img);
                        attr=JSON.parse(product.product_attr);
                    }catch(e){
                        console.log(product.product_attr);
                    }
                    element.find('#name'+id).text(product.product_name);
                    element.find('#img'+id).attr('src',img['product-img']);
                    element.find('#href'+id).attr('data-pid',product.product_id);
                    for(var i in attr){
                        if(attr[i].attr_name="价格"){
                            element.find('#price'+id).text(attr[i].value||'0.00');
                        }
                    }
                });
                $('.product-container').append(element);
            }
        });
    }
    function processListHandler(back){
        var processNeedCreator=prepareElement('.process-need-template');
        $.each(back,function(k,v){
            var processContent=processNeedCreator();
            processContent.find('.process-content').each(function(id,element){
                var field=$(element).data('field');
                $(element).text(v[field]);
            });
            $('.process-need-container').append(processContent);
        })
    }
    function biddingListHandler(back){
        var biddingCreator=prepareElement('.bidding-template');
        $.each(back,function(k,v){
            var biddingContent=biddingCreator();
            biddingContent.find('.bidding-content').each(function(id,element){
                console.log(element);
                var field=$(element).data('field');
                $(element).text(v[field]);
            });
            biddingContent.find('.to-bidding-detail').attr('href','?href=bidding_details&id='+ v.bidding_id);
            $('.bidding-container').append(biddingContent)
        });
    }
    function biddingTenderListHandler(back){
        var biddingTenderCreator=prepareElement('.bidding-tender');
        $.each(back,function(k,v){
           var biddingTenderContent=biddingTenderCreator();
            biddingTenderContent.find('.tender-content').each(function(id,element){
                console.log(element);
                var field=$(element).data('field');
                $(element).text(v[field]);
            });
            biddingTenderContent.find('.button-to-inquiry').attr('href','?href=bidding_inquiry_details&id='+ v.bidding_inquiry_id);
            $('.bidding-tender-container').append(biddingTenderContent);
        });
    }
</script>
