<!--<div class="login-header">-->
<!--<div class="container">-->
<!--<div class="login-header-l">-->
<!--<img src="images/logo.png" alt="logo">-->
<!--</div>-->
<!--<h1 class="login-header-l">-->
<!--欢迎注册-->
<!--</h1>-->
<!--<h2 class="login-header-r">-->
<!--我有账号，<a href="#" class="cur-color">马上登陆 &gt;</a>-->
<!--</h2>-->
<!--</div>-->
<!--</div>-->

<div class="login-main">
    <div class="container">
        <div class="login-main-form">
            <form method="post" action="#" class="login-form">
                <ul width="100%" cellpadding="0" cellspacing="0">
                    <li class="clearfix">
                        <label for="phone-num">手机号码</label>
                        <input type="tel" name="phone" id="phone-num" placeholder="请输入手机号" maxlength="11">
                    </li>
                    <li class="clearfix">
                        <label for="set-pwd">输入密码</label>
                        <input type="password" name="phone" id="set-pwd" placeholder="请输入密码">
                    </li>
                    <li class="clearfix">
                        <label for="set-pwd">输入验证码</label>
                        <input type="password" name="phone" id="verify" placeholder="请输入验证码">
                        <img src="image.php">
                    </li>
                </ul>

                <div class="login-btn">
                    <!--<button type="button" class="btn">确认提交注册</button>-->
                    <a href="#" class="btn sign-in">登&nbsp;&nbsp;录</a>
                </div>
            </form>
        </div>

    </div>
</div>
<script>

    registEvent();

    function registEvent(){
        $(document).on('click','.sign-in',function(){
            var tel,pad,vef;
            tel=$('#phone-num').val();
            pad=$('#set-pwd').val();
            vef=$('#verify').val();
            ajaxPost('User','login',{user_tel:tel,user_password:pad,verify:vef},function(back){
                var backValue= backHandle(back);
                console.log(backValue);
                console.log(back);
                if(backValue){
                    location.href='?href=index';
                }else{
                    console.log('nothing');
                    location.reload(true);
                }
            });
        });
    }

</script>
