<div class="pc-home clearfix">
    <div class="container">
        <?php include '/view/template/user_center_left.html.php'?>
        <div class="pc-content">
            <div class="pc-commodity-search">
                <label>商品名称<input type="text" placeholder="货品名称/订单号"></label>
                <label>商品编号<input type="text" placeholder="卖家公司名称"><button type="button" class="search-btn">搜索</button></label>
                <button type="button" class="add-commodity">+ 新增商品</button>
            </div>
            <div class="pc-commodity-table">
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <thead>
                    <tr>
                        <td>商品名称</td>
                        <td>规格</td>
                        <td>单位</td>
                        <td>单价（元）</td>
                        <td>库存</td>
                        <td>销量</td>
                        <td>操作</td>
                    </tr>
                    </thead>
                    <tbody class="tr-container">
                    <tr class="tr-template">
                        <td>
                            <div class="td-l"><img class="product-img" src="./images/pc-p.jpg"></div>
                            <div class="td-r">
                                <div class="name content product-name" data-field="product-name">热流道</div>
                                <div class="name-num">编号：-</div>
                            </div>
                        </td>
                        <td>-</td>
                        <td class="product-unit">千克</td>
                        <td class="product-price">100.00</td>
                        <td>-</td>
                        <td>-</td>
                        <td>
                            <a class="cur-color edit-button" href="">编辑</a>
                            <a class="delete-button" href="#">删除</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="turnpage" style="display: none">
                <li><span class="page_noclick">上一页</span></li>
                <li class="page-item"><span class="page_cur">1</span></li>
                <li class="page-item"><span>2</span></li>
                <li class="page_last"><span class="page_noclick">下一页</span></li>
                <div class="go_turn_page">
                    共1页&nbsp; &nbsp; &nbsp;到
                    <input type="text" name="num" class="turn_to_page" maxlength="8">&nbsp;页<a href="javascript:void(0)" class="go_turn">确定</a>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var tableHandler;
    var trCreator;

    $(document).ready(function(){
        trCreator=prepareElement('.tr-template');
        registEvent();
        initList();
    });


    function registEvent(){
        $(document).on('click','.add-commodity',function(){
           location.href='?href=pc_commodity_manage_edit';
        });
        $(document).on('click','.delete-button',function(){
            var id=$(this).attr('id').slice(3);
            if(confirm('确认删除此商品?')){
                ajaxPost('Product','delete_product',{id:id},function(back){
                    location.reload(true);
                });
            }
        });
    }
    function initList(){
        tableHandler=new ContentHandler('own_product_list',setProductList);
        tableHandler.setPageEvent('.next-page','.prev-page');
//        tableHandler.setFilter({category:currentCategoryList});
        tableHandler.setNumber(20);
        tableHandler.getList();
    }

    function setProductList(back){
        $.each(back,function(k,v){
            var tr=trCreator();
            var img=JSON.parse(v.img);
            var attr=JSON.parse(v.product_attr);
            console.log(attr);
            tr.find('.product-name').text(v.product_name);
            tr.find('img').attr('src',img['product-img'][0]);
            tr.find('.product-unit').text(v.unit_name);
            $.each(attr,function(id,value){
                if('价格'==value.category_attr_name){
                    tr.find('.product-price').text(parseFloat(value.value).toFixed(2));
                    return false;
                }
            });
            tr.find('.edit-button').attr('href','?href=pc_commodity_manage_edit&id='+ v.product_id);
            tr.find('.delete-button').attr('id','del'+ v.product_id);
            $('.tr-container').append(tr);
        });
        console.log(back);
    }
</script>