<div class="header pc-header">
    <div class="container">
        <div class="header-l">
            <img src="images/pc-logo.png" alt="logo">
        </div>
    </div>
</div>
<style>
    .submit{
    display: block;text-align: center; height: 40px;line-height: 40px; width: 100%;font-size: 16px; color: #fff;border: 0; background-color: #00c1de;
    }
</style>
<div class="pc-home clearfix">
    <div class="container">
        <div class="pc-aside">
            <ul>
                <li>
                    <h3 class="aside-title">我的发布<i class="icon icon-angle-right"></i></h3>
                    <ol>
                        <li class="li-cur"><a href="#">加工需求</a></li>
                        <li><a href="#">采购需求</a></li>
                        <li><a href="#">招标需求</a></li>
                        <li><a href="#">询价需求</a></li>
                    </ol>
                </li>
                <li>
                    <h3 class="aside-title">报价管理<i class="icon icon-angle-right"></i></h3>
                    <ol>
                        <li><a href="#">加工报价</a></li>
                        <li><a href="#">采购报价</a></li>
                        <li><a href="#">我的投标</a></li>
                        <li><a href="#">询价报价</a></li>
                    </ol>
                </li>
                <li>
                    <h3 class="aside-title">交易管理<i class="icon icon-angle-right"></i></h3>
                    <ol>
                        <li><a href="#">我的订单</a></li>
                        <li><a href="#">收货地址</a></li>
                        <li><a href="#">店铺订单</a></li>
                        <li><a href="?href=pc_commodity_manage">商品管理</a></li>
                        <li><a href="#">收到的询价</a></li>
                    </ol>
                </li>
                <li>
                    <h3 class="aside-title">店铺管理<i class="icon icon-angle-right"></i></h3>
                    <ol>
                        <li><a href="?href=pc_company_profile">企业简介</a></li>
                        <li><a href="?href=pc_contact_us">联系方式</a></li>
                    </ol>
                </li>
                <li>
                    <h3 class="aside-title">账号管理<i class="icon icon-angle-right"></i></h3>
                    <ol>
                        <li><a href="#">基本信息</a></li>
                        <li><a href="?href=pc_company_profile">企业信息</a></li>
                        <li><a href="#">修改密码</a></li>
                        <li><a href="#">系统消息</a></li>
                    </ol>
                </li>
            </ul>
            <script>
                $(document).ready(function(){
                    init();
                });
                function init(){
                    ajaxPost('User','get_company_inf',{},function(back){
                        console.log(back);
                        var backValue=backHandle(back,function(value){

                        },function(errCode,errMsg){
                            switch(errCode){
                                case 101:
                                    location.href='?href=login';
                                    break;
                                case 102:
//                                    location.href='?href=pc_company_profile'
                            }
//               console.log(errMsg);
                        })
                    });
                }
            </script>
        </div>
        <div class="pc-content">
            <div class="pc-commodity-edit">
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tr>
                        <td>企业名称</td>
                        <td><input type="text" class="company-inf" data-field="company_name" name="cl-time"></td>
                    </tr>
                    <tr>
                        <td>成立时间</td>
                        <td><input type="text" data-field="company_name" name="cl-time" disabled></td>
                    </tr>
                    <tr>
                        <td>注册资金</td>
                        <td><input type="text" class="company-inf" data-field="registered_capital" name="zc-money"></td>
                    </tr>
                    <tr>
                        <td>注册地址</td>
                        <td><input type="text" class="company-inf" data-field="company_address" name="zc-addr"></td>
                    </tr>
                    <tr>
                        <td>主营行业</td>
                        <td><input type="text" class="company-inf" data-field="major_business"  name="zyhy"></td>
                    </tr>
                    <tr>
                        <td>主营产品提供加工定制</td>
                        <td><input type="text" name="zydz" disabled></td>
                    </tr>
                    <tr>
                        <td>经营模式</td>
                        <td><input type="text" class="company-inf" data-field="business_model" name="jyms"></td>
                    </tr>
                    <tr>
                        <td>厂房面积</td>
                        <td><input type="text" class="company-inf" data-field="area_size" name="cfmj"></td>
                    </tr>
                    <tr>
                        <td>员工人数</td>
                        <td><input type="text" class="company-inf" name="ygrs" data-field="company_employee_count"></td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top">企业简介</td>
                        <td><textarea rows="10"  class="company-inf" data-field="introduction" style="width: 90%;height: 150px; box-sizing: border-box;"></textarea></td>
                    </tr>
                    <tr>
                        <td>厂房照片</td>
                        <td>
                            <div class="file-top">
                                <input type="button" name="up-img" class="upload-button" data-key="company-img"><span class="li-span-margin">每张图片建议不超过2M</span>
                                <a href="#">上传</a>
                            </div>
                            <ul class="file-bottom clearfix company-img">

                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>荣誉证书</td>
                        <td>
                            <div class="file-top">
                                <input type="button" name="up-img" class="upload-button" data-key="honor-img"><span class="li-span-margin">每张图片建议不超过2M</span>
                                <a href="#">上传</a>
                            </div>
                            <ul class="file-bottom clearfix honor-img">
                                <li class="li-template">
                                    <p class="f-b-img"><img src="#"></p>
                                    <a class="f-b-reset delete-img" style="cursor: pointer">删除</a>
                                    <a class="lager larger-img" style="cursor: pointer"><i class="icon icon-search"></i> </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="turnpage">
                <button class="submit">提交</button>
                <!--<li><span class="page_noclick">上一页</span></li>-->
                <!--<li class="page-item"><span class="page_cur">1</span></li>-->
                <!--<li class="page-item"><span>2</span></li>-->
                <!--<li class="page_last"><span class="page_noclick">下一页</span></li>-->
                <!--<div class="go_turn_page">-->
                    <!--共1页&nbsp; &nbsp; &nbsp;到-->
                    <!--<input type="text" name="num" class="turn_to_page" maxlength="8">&nbsp;页<a href="javascript:void(0)" class="go_turn">确定</a>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>
        <input type="file" class="files" id="files" name="files" style="display: none">

<div class="site-footer">
    <div class="footer-link clearfix">
        <div class="container">
            <div class="footer-link-l">
                <dl>
                    <dt>购物指南</dt>
                    <dd><a href="#">快捷支付</a></dd>
                    <dd><a href="#">交付选项</a></dd>
                    <dd><a href="#">卖家保护</a></dd>
                    <dd><a href="#">新用户指南</a></dd>
                </dl>
                <dl>
                    <dt>商家服务</dt>
                    <dd><a href="#">商家入驻</a></dd>
                    <dd><a href="#">商家中心</a></dd>
                    <dd><a href="#">物流服务</a></dd>
                    <dd><a href="#">运营服务</a></dd>
                </dl>
                <dl>
                    <dt>平台保障</dt>
                    <dd><a href="#">客服中心</a></dd>
                    <dd><a href="#">交易服务协议</a></dd>
                    <dd><a href="#">接收我们的调查</a></dd>
                    <dd><a href="#">组织&技术支持</a></dd>
                    <dd><a href="#">报告侵犯知识产权</a></dd>
                </dl>
                <dl>
                    <dt>合作伙伴推广</dt>
                    <dd><a href="#">合作伙伴关系</a></dd>
                    <dd><a href="#">开放平台</a></dd>
                    <dd><a href="#">网站合作</a></dd>
                </dl>
                <dl>
                    <dt>联系我们</dt>
                    <dd>咨询热线：400-0000-0000</dd>
                    <dd>邮箱：accmould@163.com</dd>
                    <dd>工作时间：周一至周五 9:00～17:00</dd>
                </dl>
            </div>
            <div class="wx-code">
                <p class="img"><img src="images/wx-code.jpg" alt=""></p>
                <p class="text">关注官方微信</p>
            </div>
        </div>
    </div>
    <div class="footer-friend-link">
        <div class="container">
            <span>友情链接：</span>
            <a href="#">Acc+Mould Group</a>
            <a href="#">China mold network</a>
            <a href="#">China's technology network</a>
            <a href="#">Juhuasuan</a>
            <a href="#">boc.cn</a>
            <a href="#">icbc.com.cn</a>
            <a href="#">abchina.com Acc+Mould Cloud</a>
            <a href="#">YunOS</a>
            <a href="#">AliTeleco</a>
        </div>
    </div>
</div>
        <script>
            var currentImg=null;
            var imgs={};
            var imgElementCreator=null;
            var companyInf={};
            initElement();
            initCompanyInf();
            registEvent();
            setUpload();
            function initElement(){
                imgElementCreator=prepareElement('.li-template');
            }
            function registEvent(){
                $(document).on('click','.upload-button',function(){
                    currentImg=$(this).data('key');
                    console.log(currentImg);
                    $('#files').click();
                });
                $(document).on('click','.delete-img',function(){
                    var key=$(this).data('key');
                    var value=$(this).data('value');
                    imgs[key].splice(imgs[key].indexOf(value),1);
                    initImgs();

                });
                $(document).on('click','.larger-img',function(){

                });
                $(document).on('click','.submit',function(){
                    $('.company-inf').each(function(k,v){
                        var field=$(v).data('field');
                        companyInf[field]=$(v).val();
                    });
                    companyInf.img=JSON.stringify(imgs);
                    console.log(companyInf);
                    ajaxPost('Company','update_company_inf',companyInf,function(back){
                        location.href='?href=personal_center'
                    });
                });
            }


            function initCompanyInf(){
                ajaxPost('Company','company_inf',{},function(data){
                    backHandle(data,function(value){
                        companyInf=value;
                        initData(value);

                    },function(eCode,eMsg){
                        if(120==eCode){
                            alert('请先补全企业信息');
                        }
                        console.log(eMsg);
                    });
                });
            }

            function initData(backData){
                console.log(backData);
                $('.company-inf').each(function(k,v){
                    var field=$(v).data('field');
                   $(v).val(backData[field]);
                });
                imgs=JSON.parse(backData.img);
                initImgs();
            }

            function setUpload(){
                setUploadEvent('#files',uploadSuccess,uploadFail);
                function uploadSuccess(back){
                    var url='?img='+back.url;
                    if(imgs[currentImg])imgs[currentImg].push(url);
                    else imgs[currentImg]=[url];
                    initImgs();
                }
                function uploadFail(back){

                }
            }

            function initImgs(){
                $('.li-template').remove();
                $.each(imgs,function(key,v){
                    if("object"==typeof v){
                        $.each(v,function(id,url){
                            var element=imgElementCreator();
                            element.find('img').attr('src',url);
                            element.find('.delete-img').attr('data-value',url);
                            element.find('.delete-img').attr('data-key',key);
                            element.find('.larger-img').attr('data-value',url);
                            $('.'+key).append(element);
                        });
                    }
                });
            }

        </script>
