
<div class="home">
    <div class="h-process-style">
        <a href="?href=process_demand" class="btn">发布加工需求</a>
    </div>
    <div class="h-process-container">
        <div class="container">
            <div class="h-process-nav">
                <ul class="clearfix">
                    <li class="li-cur"><a href="#">需求发布时间<i class="icon icon-angle-down"></i></a></li>
                    <li><a href="#">报价截止时间<i class="icon icon-angle-down"></i></a></li>
                    <li><a href="#">所有地区<i class="icon icon-angle-down"></i></a></li>
                    <li><a href="#">所有状态<i class="icon icon-angle-down"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="h-process-content">
            <div class="container">
                <div class="h-p-title">
                    <h2><span>加工需求列表</span></h2>
                    <!--<p>共找到<span class="light">1234</span>条加工信息</p>-->
                </div>
                <div class="h-p-lists process-need-container">
                    <div class="h-p-item process-need-template">
                        <div class="li item-l">
                            <p class="item-l-text process-content" data-field="process_need_title">加工4号这里是加工内容</p>
                            <p class="font-size-12 times">发布日期：<span class="process-content" data-field="start_time"></span></p>
                            <p class="font-size-12 primary process-content" data-field="company_name">广州测试公司</p>
                        </div>
                        <div class="li item-m">
                            <p><span>工序：</span><i class="process-content" data-field="process_steps"></i></p>
                            <p><span>要求：</span><i class="process-content" data-field="requires">测试技术要求</i></p>
                            <p><span>地址：</span><i class="process-content" data-field="company_address">广州测试地址</i></p>
                        </div>
                        <div class="li item-r">
                            <div class="item-r-l">
                                <p class="status"><span class="process-type">未完成</span></p>
                                <!--<p class="status"><span class="carry-out">已完成</span></p>-->
                                <!--<p class="status"><span class="primary">未报价</span></p>-->
                                <p><span>截止日期：</span><i class="process-content" data-field="end_time"></i>1</p>
                                <p><span>剩余：</span><span class="light"><i class="days"></i></span>天</p>
                            </div>
                            <div class="item-r-r">
                                <a class="process-action" href="?href=process_immediately">我要报价</a>
                                <!--<a href="#" class="carry-out">查看详情</a>-->
                                <p>已有<span class="light count">5</span>条报价</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="turnpage">
                    <li><span class="page_noclick prev-page">上一页</span></li>
                    <li class="page-item"><span class="page_cur current-page">1</span></li>
                    <li class="page_last"><span class="page_noclick next-page">下一页</span></li>
                    <div class="go_turn_page">
                        共1页&nbsp; &nbsp; &nbsp;到
                        <input type="text" name="num" class="turn_to_page page-input" maxlength="8">&nbsp;页<a href="javascript:void(0)" class="go_turn page-jump">确定</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

        <script>
            $(document).ready(function(){
                var tableHandler=new ContentHandler('process_need_list',processListHandler);
                tableHandler.setNumber(10);
                tableHandler.setPageEvent('.next-page','.prev-page');
                tableHandler.getList();
            });

            function registEvent(){
                $(document).on('click','.page-jump',function(){
                    var toPage=parseInt($('.page-input').val());
                    if(toPage-1>0&&toPage-1<tableHandler.totalPage){
                        tableHandler.setPage(toPage-1);
                        tableHandler.getList();
//                        location.href='#product-container';
                    }
                });
            }
            function processListHandler(back){
                var time=new Date();
                console.log(back);
                var _=this;
                var processNeedCreator=prepareElement('.process-need-template');
                $.each(back,function(k,v){
                    var processContent=processNeedCreator();
                    processContent.find('.process-content').each(function(id,element){
                        var field=$(element).data('field');
                        $(element).text(v[field]);
                    });
                    if(v.end_time_unix*1000<time.getTime()){
                        processContent.find('.process-type').text('已完成');
                        processContent.find('.process-type').addClass('carry-out');
                        processContent.find('.process-action').text('查看详情');
                        processContent.find('.process-action').addClass('carry-out');
                        processContent.find('.process-action').attr('href','#');
                    }
                    processContent.find('.count').text(v.count||'0');

                    $('.process-need-container').append(processContent);
                });

            }
        </script>
