<div class="home">
    <div class="h-demand-style"></div>
    <div class="h-demand-container">
        <div class="container">
            <div class="h-breadcrumbs clearfix">
                <span class="h-b-l">当前：</span>
                <ol class="h-b-r clearfix">
                    <li><a href="?href=index">首页</a></li>
                    <span><i class="icon icon-angle-right"></i></span>
                    <li><a href="?href=process">个人中心</a></li>
                    <span><i class="icon icon-angle-right"></i></span>
                    <li><a href="?href=process_demand">发布加工需求</a></li>
                </ol>
            </div>
            <div class="h-pd-content">
                <div class="pd-step clearfix">
                    <div class="li li-cur">
                        <a href="?href=process_demand">
                            <span class="li-l">1</span>
                            <span class="li-r">发布需求 工厂报价</span>
                        </a>
                    </div>
                    <div class="li">
                        <a href="?href=process_quote">
                            <span class="li-l">2</span>
                            <spsn class="li-r">查看报价 选定工厂</spsn>
                        </a>
                    </div>
                    <div class="li">
                        <a href="process_immediately.html">
                            <span class="li-l">3</span>
                            <span class="li-r">支付，完成合作</span>
                        </a>
                    </div>
                </div>
                <div class="pd-form">
                    <form method="post" action="#">
                        <div class="li">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>标题</td>
                                    <td><input type="text" name="title"></td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top;">工序</td>
                                    <td>
                                        <span class="span-cur">电火花加工-选择状态</span>
                                        <span>锯加工</span>
                                        <span>铣加工</span>
                                        <span>装饰纹加工</span>
                                        <span>抛光加工</span>
                                        <span>钳工加工</span>
                                        <span>电火花加工加工</span>
                                        <span>锯加工</span>
                                        <span>铣加工</span>
                                        <span>装饰纹加工</span>
                                        <span>抛光加工</span>
                                        <span>钳工加工</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>图纸</td>
                                    <td>
                                        <div class="td-l">
                                            <input type="file" name="file">
                                            <div class="btn">上传图片</div>
                                        </div>
                                        <div class="td-text">
                                            <p>*3D模型2D图纸BOM工艺说明以压缩包的形式上传</p>
                                            <p>*零售图、数量、材质、表面处理要求请在附近中注明</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top;">备注</td>
                                    <td><textarea cols="" rows="5" name="area1"></textarea></td>
                                </tr>
                            </table>
                        </div>
                        <div class="li">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td style="vertical-align: top;">技术要求</td>
                                <td><textarea cols="" rows="5" name="area2"></textarea></td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top;">详细说明</td>
                                <td><textarea cols="" rows="5" name="area2"></textarea></td>
                            </tr>
                        </table>
                        </div>
                        <div class="li">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>交货地址</td>
                                    <td><input type="text" name="addrss"/></td>
                                </tr>
                                <tr>
                                    <td>有效日期</td>
                                    <td><input type="text" name="times"/></td>
                                </tr>
                            </table>
                        </div>
                        <div class="hd-submit">
                            <input type="submit" value="提交需求" name="submit" class="submit">
                            <!--<a href="process_immediately.html" class="submit">提交需求</a>-->
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>