<script type="text/javascript" src="js/laydate.js"></script>
<div class="home">
    <div class="h-demand-style"></div>

    <div class="h-demand-container">
        <div class="container">
            <div class="h-breadcrumbs clearfix">
                <span class="h-b-l">当前：</span>
                <ol class="h-b-r clearfix">
                    <li><a href="?href=index">首页</a></li>
                    <span><i class="icon icon-angle-right"></i></span>
                    <li><a href="?href=process">个人中心</a></li>
                    <span><i class="icon icon-angle-right"></i></span>
                    <li><a href="?href=process_demand">发布加工需求</a></li>
                </ol>
            </div>
            <div class="h-pd-content">
                <div class="pd-step clearfix">
                    <div class="li li-cur">
                        <a href="?href=process_demand">
                            <span class="li-l">1</span>
                            <span class="li-r">发布需求 工厂报价</span>
                        </a>
                    </div>
                    <div class="li">
                        <a href="?href=process_quote">
                            <span class="li-l">2</span>
                            <spsn class="li-r">查看报价 选定工厂</spsn>
                        </a>
                    </div>
                    <div class="li">
                        <a href="process_immediately.html">
                            <span class="li-l">3</span>
                            <span class="li-r">支付，完成合作</span>
                        </a>
                    </div>
                </div>
                <div class="pd-form">
                    <!--<form method="post" action="#">-->
                        <div class="li">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>标题</td>
                                    <td><input type="text" name="title" class="content" data-field="process_need_title"></td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top;">工序</td>
                                    <td class="step-container">
                                        <span class="step-template step-select span-cur">电火花加工-选择状态</span>
                                        <!--<span>锯加工</span>-->
                                        <!--<span>铣加工</span>-->
                                        <!--<span>装饰纹加工</span>-->
                                        <!--<span>抛光加工</span>-->
                                        <!--<span>钳工加工</span>-->
                                        <!--<span>电火花加工加工</span>-->
                                        <!--<span>锯加工</span>-->
                                        <!--<span>铣加工</span>-->
                                        <!--<span>装饰纹加工</span>-->
                                        <!--<span>抛光加工</span>-->
                                        <!--<span>钳工加工</span>-->
                                    </td>
                                </tr>
                                <tr>
                                    <td>图纸</td>
                                    <td>
                                        <div class="td-l">
                                            <!--<input type="button" name="file">-->
                                            <div class="btn upload-button" style="cursor: pointer">上传图纸</div>
                                        </div>
                                        <div class="uploaded"></div>
                                        <div class="td-text">
                                            <p>*3D模型2D图纸BOM工艺说明以压缩包的形式上传</p>
                                            <p>*零售图、数量、材质、表面处理要求请在附近中注明</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top;">备注</td>
                                    <td><textarea cols="" rows="5" name="area1" class="content" data-field="remark"></textarea></td>
                                </tr>
                            </table>
                        </div>
                        <div class="li">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td style="vertical-align: top;">技术要求</td>
                                <td><textarea cols="" rows="5" name="area2" class="content" data-field="requires"></textarea></td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top;">详细说明</td>
                                <td><textarea cols="" rows="5" name="area2" class="content" data-field="detail"></textarea></td>
                            </tr>
                        </table>
                        </div>
                        <div class="li">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>交货地址</td>
                                    <td><input type="text" name="addrss" class="content key-value" data-field="address"/></td>
                                </tr>
                                <tr>
                                    <td>有效期至</td>
                                    <td><input type="text" name="times" id="times" class="content key-value" data-field="end_time" readonly/></td>
                                </tr>
                            </table>
                        </div>
                        <div class="hd-submit">
                            <input type="submit" value="提交需求" name="submit" class="submit submit-button">
                            <!--<a href="process_immediately.html" class="submit">提交需求</a>-->
                        </div>
                    <!--</form>-->
                </div>
            </div>
        </div>
    </div>
</div>
<input type="file" class="files" id="process_file" name="process_file" style="display: none">
        <script>
            var processInf={};
            var stepCreator;
            $(document).ready(function(){
                ajaxPost('User','get_company_inf',{},function(back){
                    console.log(back);
                    var backValue=backHandle(back,function(value){

                    },function(errCode,errMsg){
                        switch(errCode){
                            case 101:
                                location.href='?href=login';
                                break;
                            case 102:
                                location.href='?href=pc_company_profile'
                        }
//               console.log(errMsg);
                    })
                });
               initView();
                getSteps();
                registEvent();
                setUpload();
            });

            function registEvent(){
                $(document).on('click','.step-select',function(){
                    $(this).toggleClass('span-cur');
                });
                $(document).on('click','.upload-button',function(){
                    $('#process_file').click();
                });
                $(document).on('click','.submit-button',function(){
                    var submitError=false;
                    processInf.process_steps='';
                    $('.span-cur').each(function(k,v){
                        processInf.process_steps+=(','+$(v).text());
                    });
                    $('.content').each(function(k,v){

                        var field=$(v).data('field');
                        var keyValue=$(v).hasClass('key-value');
                        if(field){
                            processInf[field]=$(v).val();
                            if((!processInf[field])&&keyValue)submitError='信息不完整';
                        }
                    });
                    if(''==processInf.process_steps)submitError='工序未选择';
                    if(!submitError){
                        ajaxPost('Process','add_process_need',processInf,function(back){
                           var backValue=backHandle(back);

                            if(backValue){
                                location.href='?href=process'
                            }else{
                                alert('发布失败，请稍后再试')
                            }
                        });
                    }else{
                        alert(submitError);
                    }
                    console.log(processInf);
                });
            }

            function initView(){
                stepCreator=prepareElement('.step-template');
                laydate({
                    elem:'#times',
                    format: 'YYYY-MM-DD hh:mm:ss',
                    show:true,
                    start:laydate.now()
                });
            }

            function getSteps(){
                ajaxPost('Process','get_process_step',{},function(back){
                    var backValue=backHandle(back);
                    $.each(backValue,function(k,v){
                        var stepElement=stepCreator();
                        stepElement.text(v.process_step_name);
                        stepElement.removeClass('span-cur')
                        $('.step-container').append(stepElement);
                    });
//                    console.log(backValue);
                });
            }
            function setUpload(){
                setUploadEvent('#process_file',function(data){
                    $('.uploaded').text(data.originalName);
                    processInf.attachment=data.url;
                    console.log(data);
                });
            }
        </script>