<div class="home">
    <div class="container">
        <div class="zh-main">
            <h2 class="zh-main-title">加工4号这里是加工标题</h2>
            <div class="zh-main-box">
                <div class="pi-message">
                    <div class="pi-top">
                        <div class="pi-top-t clearfix">
                            <div class="li">
                                <p class="text">报价人数</p>
                                <p class="light">12<span>个</span></p>
                            </div>
                            <div class="li">
                                <p class="text">被查看次数</p>
                                <p class="light">500<span>次</span></p>
                            </div>
                            <div class="li">
                                <p class="text">报价剩余天数</p>
                                <p class="light">20<span>天</span></p>
                            </div>
                            <div class="li">
                                <p class="text">当前状态：<span class="st-cur">已报价</span></p>
                                <p class="btn">
                                    <button type="button" id="send_quote">发送报价</button>
                                    <button type="button">联系厂家</button>
                                </p>
                            </div>
                        </div>
                        <div class="pi-top-m clearfix">
                            <div class="li">
                                <p class="text">报价截止日期</p>
                                <p class="content">2017.12.31</p>
                            </div>
                            <div class="li">
                                <p class="text">信息发布日期</p>
                                <p class="content">2017.12.01</p>
                            </div>
                            <div class="li">
                                <p class="text">公司</p>
                                <p class="content">广州测试公司</p>
                            </div>
                            <div class="li">
                                <p class="text">地址</p>
                                <p class="content">广州测试地址</p>
                            </div>
                        </div>
                        <div class="pi-top-b">
                            <div class="li">
                                <p class="title">工序</p>
                                <p class="text"><span>锯加工</span><span>铣加工</span><span>装饰纹加工</span></p>
                            </div>
                            <div class="li">
                                <p class="title">图文文件</p>
                                <p class="cur-color">图纸.rar<i class="icon icon-arrow-circle-o-down"></i></p>
                            </div>
                        </div>
                    </div>
                    <div class="pi-bottom">
                        <div class="li">
                            <h3 class="title cur-color">更多要求</h3>
                            <p class="text">测试技术要求</p>
                        </div>
                        <div class="li">
                            <h3 class="title cur-color">详细说明</h3>
                            <p class="text">详细说明内容</p>
                        </div>
                    </div>
                </div>
                <div class="pi-need">
                    <h2 class="pi-need-title">更多类似需求</h2>
                    <div class="pi-need-lists clearfix">
                        <div class="li">
                            <div class="li-t">
                                <p class="li-t-title">加工4号这里是加工内容</p>
                                <p class="li-t-text">平台报价</p>
                            </div>
                            <div class="li-m">
                                <p><span>工序：</span>3道</p>
                                <p><span>有效日期：</span>2017-12-18</p>
                                <p><span>交货地址：</span>广州测试地址</p>
                            </div>
                            <div class="li-b">
                                <button type="button" class="cur-background">我要报价</button>
                            </div>
                        </div>
                        <div class="li">
                            <div class="li-t">
                                <p class="li-t-title">加工4号这里是加工内容</p>
                                <p class="li-t-text">平台报价</p>
                            </div>
                            <div class="li-m">
                                <p><span>工序：</span>3道</p>
                                <p><span>有效日期：</span>2017-12-18</p>
                                <p><span>交货地址：</span>广州测试地址</p>
                            </div>
                            <div class="li-b">
                                <button type="button" class="cur-background">我要报价</button>
                            </div>
                        </div>
                        <div class="li">
                            <div class="li-t">
                                <p class="li-t-title">加工4号这里是加工内容</p>
                                <p class="li-t-text">平台报价</p>
                            </div>
                            <div class="li-m">
                                <p><span>工序：</span>3道</p>
                                <p><span>有效日期：</span>2017-12-18</p>
                                <p><span>交货地址：</span>广州测试地址</p>
                            </div>
                            <div class="li-b">
                                <button type="button" class="cur-background">我要报价</button>
                            </div>
                        </div>
                        <div class="li">
                            <div class="li-t">
                                <p class="li-t-title">加工4号这里是加工内容</p>
                                <p class="li-t-text">平台报价</p>
                            </div>
                            <div class="li-m">
                                <p><span>工序：</span>3道</p>
                                <p><span>有效日期：</span>2017-12-18</p>
                                <p><span>交货地址：</span>广州测试地址</p>
                            </div>
                            <div class="li-b">
                                <button type="button" class="cur-background">我要报价</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="send-form">
        <form method="post" action="#">
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                <thead>
                <tr>
                    <td colspan="2">我的报价</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="vertical-align: top;">收货地：</td>
                    <td><textarea rows="3"></textarea></td>
                </tr>
                <tr>
                    <td>加工时长：</td>
                    <td><input type="text" name="time"><span>天</span></td>
                </tr>
                <tr>
                    <td>价格：</td>
                    <td><input type="text" name="price"><span>元</span></td>
                </tr>
                <tr>
                    <td>运费：</td>
                    <td><input type="text" name="fee"><span>元</span></td>
                </tr>
                <tr>
                    <td>报价单：</td>
                    <td><input type="text" name="price"><span class="up"><i class="icon icon icon-arrow-circle-o-down"></i></span></td>
                </tr>
                <tr>
                    <td></td>
                    <td><p class="info">* 上传excel详细报价单</p></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="发送报价" class="btn">
                        <input type="reset" value="取消" class="btn reset">
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>


<script>
    $(function () {
        sendQuote();

        function sendQuote() {
            $(document).on('click','#send_quote',function () {
                $('.send-form').show();
                $('body').append('<div class="mask"></div>');
                var bodyHeight = $('body').height();
                console.log(bodyHeight);
                $('.mask').height(bodyHeight);
            });
            $(document).on('click','.reset',function () {
                $('.mask').remove();
                $('.send-form').hide();
            });
            $(document).on('click','.mask',function(){
                $('.mask').remove();
                $('.send-form').hide();
            });
        }

    })
</script>
</body>
</html>