<div class="home">
    <div class="container">
        <div class="pu-container">
            <!--<div class="pu-breadcrumbs clearfix">-->
                <!--<ul class="clearfix">-->
                    <!--<li><a href="?href=index">首页</a></li>-->
                    <!--<span>&gt;</span>-->
                    <!--<li><a href="?href=purchase_info">采购信息</a></li>-->
                <!--</ul>-->
                <!--<p class="number">共找到<span class="light">1234</span>信息</p>-->
            <!--</div>-->
            <!--<div class="pu-filter">-->
                <!--&lt;!&ndash;<div class="pu-filter-item clearfix">&ndash;&gt;-->
                    <!--&lt;!&ndash;<p class="title">分类：</p>&ndash;&gt;-->
                    <!--&lt;!&ndash;<p class="text">&ndash;&gt;-->
                        <!--&lt;!&ndash;<span>全部</span>&ndash;&gt;-->
                        <!--&lt;!&ndash;<span class="cur-color">模具钢</span>&ndash;&gt;-->
                        <!--&lt;!&ndash;<span>模架</span>&ndash;&gt;-->
                        <!--&lt;!&ndash;<span>热流道</span>&ndash;&gt;-->
                        <!--&lt;!&ndash;<span>标准件</span>&ndash;&gt;-->
                        <!--&lt;!&ndash;<span>电极（石墨）</span>&ndash;&gt;-->
                        <!--&lt;!&ndash;<span>模具油缸</span>&ndash;&gt;-->
                        <!--&lt;!&ndash;<span>刀具</span>&ndash;&gt;-->
                        <!--&lt;!&ndash;<span>耗材</span>&ndash;&gt;-->
                        <!--&lt;!&ndash;<span>模具加工设备</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;</p>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--<div class="pu-filter-item clearfix">-->
                    <!--<p class="title">发布时间：</p>-->
                    <!--<p class="text">-->
                        <!--<span>全部</span>-->
                        <!--<span>今日新发</span>-->
                        <!--<span>最近3天</span>-->
                        <!--<span class="cur-color">最近7天</span>-->
                        <!--<span>最近15天</span>-->
                    <!--</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="pu-nav">-->
                <!--<ul class="clearfix">-->
                    <!--<li class="cur-color">-->
                        <!--<a href="#">-->
                            <!--发布时间-->
                            <!--<i class="icon icon-angle-down"></i>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--报价截止时间-->
                            <!--<i class="icon icon-angle-down"></i>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--所在地区-->
                            <!--<i class="icon icon-angle-down"></i>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--报价数-->
                            <!--<i class="icon icon-angle-down"></i>-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
            <div class="pu-lists clearfix purchase-container">
                <div class="pu-item purchase-template">
                    <div class="pu-item-t">
                        <h3 class="title purchase-content" data-field="purchase_title"></h3>
                        <div class="text clearfix">
                            <p class="text-l">采购数量<span class="light"></span>种</p>
                            <p class="text-l">已有<span class="light"></span>条报价</p>
                        </div>
                    </div>
                    <div class="pu-item-b">
                        <div class="top">
                            <!--<span>上模座</span>-->
                            <!--<span>下模座</span>-->
                        </div>
                        <div class="middle">
                            <p><span>交货地区：</span><i class="purchase-content" data-field="address"></i></p>
                            <p><span>发布时间：</span><i class="purchase-content" data-field="start_time"></i></p>
                            <p><span>发布时间：</span><i class="purchase-content" data-field="end_time"></i></p>
                        </div>
                        <div class="bottom">
                            <div class="name clearfix">
                                <p class="img"><img src="images/qi.jpg"></p>
                                <p class="text"></p>
                            </div>
                            <div class="btn">
                                <a class="to-details" href="?href=purchase_info_details">立即报价</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="turnpage">
                <li><span class="page_noclick prev-page">上一页</span></li>
                <li class="page-item"><span class="page_cur current-page">1</span></li>
                <li class="page_last"><span class="page_noclick next-page">下一页</span></li>
                <div class="go_turn_page">
                    共1页&nbsp; &nbsp; &nbsp;到
                    <input type="text" name="num" class="turn_to_page page-input" maxlength="8">&nbsp;页<a href="javascript:void(0)" class="go_turn page-jump">确定</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        var tableHandler=new ContentHandler('purchase_list',purchaseListHandler);
        tableHandler.setNumber(10);
        tableHandler.setPageEvent('.next-page','.prev-page');
        tableHandler.getList();
    });

    function registEvent(){
        $(document).on('click','.page-jump',function(){
            var toPage=parseInt($('.page-input').val());
            if(toPage-1>0&&toPage-1<tableHandler.totalPage){
                tableHandler.setPage(toPage-1);
                tableHandler.getList();
//                        location.href='#product-container';
            }
        });
    }
    function purchaseListHandler(back){
        var time=new Date();
        console.log(back);
        var _=this;
        var purchaseNeedCreator=prepareElement('.purchase-template');
        $.each(back,function(k,v){
            var purchaseContent=purchaseNeedCreator();
            purchaseContent.find('.purchase-content').each(function(id,element){
                var field=$(element).data('field');
                $(element).text(v[field]);
            });
            if(v.end_time_unix*1000<time.getTime()){
//                purchaseContent.find('.purchase-type').text('已完成');
//                purchaseContent.find('.purchase-type').addClass('carry-out');
//                purchaseContent.find('.purchase-action').text('查看详情');
//                purchaseContent.find('.purchase-action').addClass('carry-out');
//                purchaseContent.find('.purchase-action').attr('href','#');
            }
            purchaseContent.find('.to-details').attr('href','?href=purchase_info_details&id='+ v.purchase_id)
            purchaseContent.find('.count').text(v.count||'0');

            $('.purchase-container').append(purchaseContent);
        });

    }
</script>