<style>
    .p-demand-style{
        text-align: center;
        line-height: 400px;
    }
    .p-demand-style .btn{
        padding: 10px 30px;
        color: #00a2ca;
        border: 1px solid #00a2ca;}

</style>
<div class="home">
    <div class="p-demand-style">
        <a href="?href=purchase_demand" class="btn">发布采购需求</a>
    </div>
    <div class="container">
        <div class="pu-container">
            <!--<div class="pu-breadcrumbs clearfix">-->
                <!--<ul class="clearfix">-->
                    <!--<li><a href="index.html">首页</a></li>-->
                    <!--<span>&gt;</span>-->
                    <!--<li><a href="purchase.html">我要采购</a></li>-->
                <!--</ul>-->
                <!--<p class="number">共找到<span class="light">1234</span>信息</p>-->
            <!--</div>-->
            <div class="pu-filter">
                <div class="pu-filter-item clearfix">
                    <p class="title">分类：</p>
                    <p class="text category-container">
                        <span class="category-template category-filter" id="cat0">全部</span>
                        <span class="cur-color">模具钢</span>
                        <span>模架</span>
                        <span>热流道</span>
                        <span>标准件</span>
                        <span>电极（石墨）</span>
                        <span>模具油缸</span>
                        <span>刀具</span>
                        <span>耗材</span>
                        <span>模具加工设备</span>
                    </p>
                </div>
                <div class="pu-filter-item clearfix">
                    <p class="title">发布时间：</p>
                    <p class="text">
                        <span>全部</span>
                        <span>今日新发</span>
                        <span>最近3天</span>
                        <span class="cur-color">最近7天</span>
                        <span>最近15天</span>
                    </p>
                </div>
            </div>
            <div class="pu-nav">
                <ul class="clearfix">
                    <li class="cur-color">
                        <a href="#">
                            发布时间
                            <i class="icon icon-angle-down"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            价格
                            <i class="icon icon-angle-down"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            所在地区
                            <i class="icon icon-angle-down"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="p-buy-lists clearfix product-container" id="product-container">
                <div class="li product-template">
                    <div class="li-top">
                        <p class="img"><img class="product-img" src="images/home2.jpg"></p>
                        <p class="price light">￥<span class="product-price">136.00</span>/<span class="product-unit">千克</span></p>
                        <p class="name product-name">长祥特钢S136</p>
                    </div>
                    <div class="li-bottom">
                        <p class="address shipping-place">广东省 广州市</p>
                        <div class="inquiry">
                            <div class="inquiry-t clearfix">
                                <!--<div class="inquiry-t-l">1千克起订</div>-->
                                <!--<div class="inquiry-t-l">10000千克可售</div>-->
                            </div>
                            <div class="inquiry-b">
                                <button type="button" name="inquiry"><a class="to-detail">点击询价</a> </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="pagination clearfix">
                <ul class="clearfix">
                    <li class="prev-page">上一页</li>
                    <li class="page-cur current-page">1</li>
                    <!--<li>2</li>-->
                    <!--<li>3</li>-->
                    <!--<li>4</li>-->
                    <li class="next-page">下一页</li>
                </ul>
                <div class="p-jump">
                    <span class="text">共<i class="total-page">1</i>页</span>
                    <span>
                            到<input class="page-input" type="text" name="page">页
                        </span>
                    <span class="confirm page-jump">确定</span>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var currentCategory=sessionStorage.currentCategoryId||0;
    var currentCategoryList=sessionStorage.currentCategoryId||0;
    var liCreator;
    var tableHandler;
    var categoryList;
    var categoryElementCreator
    $(document).ready(function(){
        liCreator=prepareElement('.product-template');
        categoryElementCreator=prepareElement('.category-template')
        initCategory(function(){
            currentCategoryList=getAllSubCategory(currentCategoryList);
            currentCategoryList.push(currentCategory);
            console.log(currentCategoryList);
            tableHandler=new ContentHandler('product_list',setProductList);
            tableHandler.setPageEvent('.next-page','.prev-page');
            tableHandler.setFilter({category:currentCategoryList});
            tableHandler.setNumber(20);
            tableHandler.getList();
        });
        registEvent();

    });
    function registEvent(){
        $(document).on('click','.to-detail',function(){
            var id=$(this).attr('id').slice(3);
            sessionStorage.currentProductId=id;
            location.href='?href=purchase_details';
        });
        $(document).on('click','.page-jump',function(){
            var toPage=parseInt($('.page-input').val());
            if(toPage-1>0&&toPage-1<tableHandler.totalPage){
                tableHandler.setPage(toPage-1);
                tableHandler.getList();
                location.href='#product-container';
            }
        });
        $(document).on('click','.category-filter',function(){

            $('.category-filter').removeClass('cur-color');
            var categoryId=$(this).attr('id').slice(3);
            currentCategory=categoryId;
            currentCategoryList=getAllSubCategory(currentCategory);
            currentCategoryList.push(currentCategory);
            tableHandler.setFilter({category:currentCategoryList});
            tableHandler.getList();
        });
    }
    function initCategory(callback){
        $('.category-container').empty();
        categoryList={};
        var categoryElement=categoryElementCreator();
        $('.category-container').append(categoryElement);
        ajaxPost('Product','category_list',{},function(back){
            var backValue=backHandle(back);
            $.each(backValue,function(k,v){
               categoryList[v.category_id]=v;
//                console.log(v);
                if(0== v.p_category){
//                    console.log(v);
                    var element=categoryElementCreator();
                    element.attr('id','cat'+ v.category_id);
                    element.text(v.category_name);
                    $('.category-container').append(element);
                }
            });
//            categoryList=backValue;
            if(callback)callback();
        });
    }
    function getAllSubCategory(currentId){
        var subList=[];
        for(var i in categoryList){
            if(categoryList[i].p_category==currentId){
                subList.push(categoryList[i].category_id);
                subList=subList.concat(getAllSubCategory(categoryList[i].category_id));
            }
        }
        return subList;
    }
    function setProductList(back){
        $('.product-container').empty();
        $.each(back,function(k,v){
            var img='';
            var attr=[];
            try{
                img=JSON.parse(v.img)['product-img'][0];
                attr=JSON.parse(v.product_attr);
            }catch (e){
                console.log(v.img);
//                console.error(e);
            }

            var element=liCreator();
            for(var i in attr){
                if('价格'==attr[i].category_attr_name){
                    element.find('.product-price').text(attr[i].value||'0.00');
                }
            }
            if(categoryList[v.category])element.find('.product-unit').text(categoryList[v.category].unit_name);
            element.find('.product-name').text(v.product_name);
            element.find('.shipping-place').text(v.shipping_place);
            element.find('.product-img').attr('src',img);
            element.find('.to-detail').attr('id','dtl'+ v.product_id);
//            console.log(v);
            $('.product-container').append(element);
        });
        setPagination();
        $('#cat'+currentCategory).addClass('cur-color');

    }
    function setPagination(){
        var currentPage=tableHandler.filter.page+1;
        var totalPage=tableHandler.totalPage;
        $('.total-page').text(totalPage);
        $('.current-page').text(currentPage);
    }
</script>