<div class="home">
    <div class="p-demand-style"></div>
    <div class="h-demand-container pq-white">
        <div class="container">
            <div class="h-breadcrumbs clearfix">
                <span class="h-b-l">当前：</span>
                <ol class="h-b-r clearfix">
                    <li><a href="?href=index">首页</a></li>
                    <span><i class="icon icon-angle-right"></i></span>
                    <li><a href="?href=process">个人中心</a></li>
                    <span><i class="icon icon-angle-right"></i></span>
                    <li><a href="?href=process_demand">发布加工需求</a></li>
                </ol>
            </div>
            <div class="h-pd-content">
                <div class="pd-step clearfix">
                    <div class="li">
                        <a href="?href=purchase_demand">
                            <span class="li-l">1</span>
                            <span class="li-r">一键上传 平台整理报价</span>
                        </a>
                    </div>
                    <div class="li li-cur">
                        <a href="?href=purchase_quote">
                            <span class="li-l">2</span>
                            <spsn class="li-r">厂家报价 确认合作</spsn>
                        </a>
                    </div>
                    <div class="li">
                        <a href="#">
                            <span class="li-l">3</span>
                            <span class="li-r">支付，完成合作</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="pq-box">
                <div class="pq-item">
                    <h3 class="pq-item-title">当前需求</h3>
                    <div class="table pq-item-first">
                        <table width="100%" cellspacing="0" cellpadding="0" border="1" bordercolor="#ddd">
                            <tbody><tr>
                                <td>标题</td>
                                <td>测试加工</td>
                                <td>交货地址</td>
                                <td>广州市荔湾中山8路1州市荔湾中山8路1州市荔湾中山8路1州市荔湾路1州市荔市荔湾中山8路1州市荔湾中山8路1州市荔湾路1州市荔湾中山8路1州市荔湾中山8路1州市荔湾中山8路1州市荔湾中山8路1州市荔湾中山8路1州市荔湾中山8路1号</td>
                            </tr>
                            <tr>
                                <td>工序</td>
                                <td>电火花加工、锯加工、铣加工</td>
                                <td>有效日期</td>
                                <td>2018.11.15</td>
                            </tr>
                            <tr>
                                <td>图纸</td>
                                <td><span class="cur-color">图纸.rar</span></td>
                                <td>备注</td>
                                <td>请看图纸</td>
                            </tr>
                            <tr>
                                <td>技术要求</td>
                                <td colspan="3">这里是备注这里是备注这里是备注这里是备注</td>
                            </tr>
                            <tr>
                                <td>详细说明</td>
                                <td colspan="3">没有详细说明</td>
                            </tr>
                            </tbody></table>
                    </div>
                </div>
                <div class="pu-shopping">
                    <h3 class="title">采购商品</h3>
                    <div class="table">
                        <table width="100%" cellspacing="0" cellpadding="0" border="1" bordercolor="#eee">
                            <thead>
                            <tr>
                                <td>物品名称</td>
                                <td>图片</td>
                                <td>采购量</td>
                                <td>规格属性</td>
                                <td>其他备注</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>上模座</td>
                                <td><img src="images/table1.jpg"></td>
                                <td><span class="light">2</span>吨</td>
                                <td>1150*425*55</td>
                                <td>材料45#</td>
                            </tr>
                            <tr>
                                <td>下模座</td>
                                <td><img src="images/table1.jpg"></td>
                                <td><span class="light">2</span>吨</td>
                                <td>1150*425*55</td>
                                <td>材料45#</td>
                            </tr>
                            <tr>
                                <td>垫板</td>
                                <td><img src="images/table1.jpg"></td>
                                <td><span class="light">2</span>吨</td>
                                <td>1150*425*55</td>
                                <td>材料45#</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="pq-item">
                    <h3 class="pq-item-title">报价列表</h3>
                    <div class="table pq-item-second">
                        <table width="100%" cellspacing="0" cellpadding="0" border="1" bordercolor="#ddd">
                            <thead>
                            <tr>
                                <td>报价厂家</td>
                                <td>报价（报价+运费）</td>
                                <td>报价单</td>
                                <td>报价时间</td>
                                <td>公司地址</td>
                                <td>联系人</td>
                                <td>联系电话</td>
                                <td>操作</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>广州汽车公司</td>
                                <td>￥20000</td>
                                <td><i class="icon icon-arrow-circle-o-down cur-color"></i></td>
                                <td>2017.12.12 15:00</td>
                                <td>广东省 广州市</td>
                                <td>王大锤</td>
                                <td>1580000000</td>
                                <td><span class="pay">去支付</span></td>
                            </tr>
                            <tr>
                                <td>鼠标经过</td>
                                <td>￥20000</td>
                                <td><i class="icon icon-arrow-circle-o-down cur-color"></i></td>
                                <td>2017.12.12 15:00</td>
                                <td>广东省 广州市</td>
                                <td>王大锤</td>
                                <td>1580000000</td>
                                <td><span class="pay">去支付</span></td>
                            </tr>
                            <tr>
                                <td>广州汽车公司</td>
                                <td>￥20000</td>
                                <td><i class="icon icon-arrow-circle-o-down cur-color"></i></td>
                                <td>2017.12.12 15:00</td>
                                <td>广东省 广州市</td>
                                <td>王大锤</td>
                                <td>1580000000</td>
                                <td><span class="pay">去支付</span></td>
                            </tr>
                            <tr>
                                <td>广州汽车公司</td>
                                <td>￥20000</td>
                                <td><i class="icon icon-arrow-circle-o-down cur-color"></i></td>
                                <td>2017.12.12 15:00</td>
                                <td>广东省 广州市</td>
                                <td>王大锤</td>
                                <td>1580000000</td>
                                <td><span class="pay">去支付</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>