<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>我要采购-模具集成服务平台</title>
    <meta name="description" content="描述内容">
    <meta name="keyword" content="关键字1，关键字2">
    <link href="css/main.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<body class="bg-f8">

<div class="entrance">
    <div class="container">
        <ul class="entrance-l clearfix">
            <li>欢迎访问模具集成服务平台！</li>
            <li>
                <p class="li-login light">
                    <a href="#">[请登录]</a>
                    <a href="#">[免费注册]</a>
                </p>

            </li>
        </ul>
        <ul class="entrance-r clearfix">
            <li>
                <div class="entrance-li-show li-account clearfix">
                    <a href="#">我的账户</a>
                    <i class="icon icon-angle-down"></i>
                </div>
                <div class="entrance-li-none account-set"></div>
            </li>
            <li>
                <div class="entrance-li-show li-shop-cart clearfix">
                    <a href="#">购物车<span class="number">0</span></a>
                    <i class="icon icon-angle-down"></i>
                </div>
                <div class="entrance-li-none shop-cart-lists"></div>
            </li>
            <li>
                <div class="entrance-li-show li-vip">
                    <a href="#">VIP专属入口</a>
                </div>
            </li>
            <li>
                <div class="entrance-li-show li-supplier">
                    <a href="#">供应商入口</a>
                </div>
            </li>
            <li>
                <div class="entrance-li-show li-customer-server">
                    <a href="#">客服中心</a>
                </div>
            </li>
            <li>
                <p class="li-tel light">
                    <i class="icon icon-phone"></i> <span>客服：400-888-888</span>
                </p>
            </li>
        </ul>
    </div>
</div>

<div class="header">
    <div class="container">
        <div class="header-l">
            <img src="images/logo.png" alt="logo">
        </div>
        <div class="header-m">
            <ul class="header-search-title clearfix">
                <li class="li-cur">加工</li>
                <li>采购</li>
            </ul>
            <div class="search-form">
                <form method="post" action="#">
                    <i class="icon icon-search"></i>
                    <input type="text" placeholder="请输入关键字" name="skw">
                    <button type="button">搜 索</button>
                </form>
            </div>
            <div class="search-keywords">
                <h4 class="title">热门搜索：</h4>
                <p class="text">
                    <a href="#">关键字</a>
                    <a href="#">关键字</a>
                    <a href="#">关键字</a>
                    <a href="#">关键字</a>
                    <a href="#">关键字</a>
                    <a href="#">关键字</a>
                    <a href="#">关键字</a>
                    <a href="#">关键字</a>
                    <a href="#">关键字</a>
                    <a href="#">关键字</a>
                </p>
            </div>
        </div>
        <div class="header-r">
            <p class="wx-code">
                <img src="images/wx-code.jpg" alt="微信二维码">
            </p>
            <p class="wx-text">关注官方微信</p>
        </div>
    </div>
</div>

<div class="nav">
    <div class="container">
        <h3 class="purchase primary-background">一站式采购解决方案</h3>
        <ul class="nav-bar">
            <li><a href="index.html">首页</a></li>
            <li><a href="process.html">我要加工</a></li>
            <li class="li-cur"><a href="purchase.html">我要采购</a></li>
            <li><a href="purchase_info.html">采购信息</a></li>
            <li><a href="mold_bidding.html">模具招投标</a></li>
            <li><a href="forum.html">技术论坛</a></li>
            <li><a href="training.html">招聘培训</a></li>
            <li><a href="finance_serve.html">金融服务</a></li>
        </ul>
    </div>
</div>

<div class="home">
    <div class="container">
        <div class="pu-container">
            <div class="pu-breadcrumbs clearfix">
                <ul class="clearfix">
                    <li><a href="index.html">首页</a></li>
                    <span>&gt;</span>
                    <li><a href="purchase.html">我要采购</a></li>
                    <span>&gt;</span>
                    <li><a href="purchase_details.html">螺帽</a></li>
                </ul>
                <p class="number">共找到<span class="light">1234</span>信息</p>
            </div>
            <div class="pu-details">
                <div class="pu-details-info clearfix">
                    <div class="pd-info-l">
                        <p class="big-img"><img src="images/lm.jpg"></p>
                        <ul class="ul-img clearfix">
                            <li><img src="images/lm.jpg"></li>
                            <li><img src="images/lm.jpg"></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="pd-info-r">
                        <div class="pd-info-title clearfix">
                            <h2>模具加工</h2>
                            <a href="purchase_demand.html">发布采购需求</a>
                        </div>
                        <ol class="pd-info-number clearfix">
                            <li>
                                <p class="red">￥100.00</p>
                                <p class="num">10-99台</p>
                            </li>
                            <li>
                                <p class="red">￥95.00</p>
                                <p class="num">100-4999台</p>
                            </li>
                            <li>
                                <p class="red">￥90.00</p>
                                <p class="num">≥5000台</p>
                            </li>
                        </ol>
                        <ul class="pd-info-content">
                            <li>
                                <p class="li-l">规格</p>
                                <p class="li-r">这里是规格</p>
                            </li>
                            <li>
                                <p class="li-l">发货地</p>
                                <p class="li-r">浙江省宁波市</p>
                            </li>
                            <li>
                                <p class="li-l">发货期</p>
                                <p class="li-r"><span class="light">3</span>天以内</p>
                            </li>
                            <li>
                                <p class="li-l">运费说明</p>
                                <p class="li-r">买家承担</p>
                            </li>
                            <li>
                                <p class="li-l">支付方式</p>
                                <p class="li-r"><span>支付宝</span><span>微信</span><span>网上银行</span><span>PayPal</span></p>
                            </li>
                        </ul>
                        <div class="pd-info-shop clearfix">
                            <p class="li-l">订购数量</p>
                            <div class="shop-r">
                                <div class="top">
                                    <span class="less"><i class="icon icon-minus"></i></span><span>10</span><span class="plus"><i class="icon icon-plus"></i></span>
                                </div>
                                <div class="bottom">
                                    <button class="add-shop"><i class="icon icon-shopping-cart"></i>加入购物车</button>
                                    <a href="purchase_demand.html" class="xj">立即询价</a>
                                    <button type="button" class="contact">联系信息</button>
                                </div>
                            </div>
                        </div>
                        <div class="pd-protection clearfix">
                            <p class="li-l">订购数量</p>
                            <div class="protection-r">
                                <img src="images/bao.png">
                                <span>卖家支持先行赔付，保障卖家交易安全</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pu-details-parameter">
                    <ul class="clearfix">
                        <li class="li-cur">商品详情</li>
                        <li>规格参数</li>
                        <li>联系方式</li>
                    </ul>
                    <div class="parameter-content">
                        <img src="images/lm.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-footer">
    <div class="footer-link clearfix">
        <div class="container">
            <div class="footer-link-l">
                <dl>
                    <dt>购物指南</dt>
                    <dd><a href="#">快捷支付</a></dd>
                    <dd><a href="#">交付选项</a></dd>
                    <dd><a href="#">卖家保护</a></dd>
                    <dd><a href="#">新用户指南</a></dd>
                </dl>
                <dl>
                    <dt>商家服务</dt>
                    <dd><a href="#">商家入驻</a></dd>
                    <dd><a href="#">商家中心</a></dd>
                    <dd><a href="#">物流服务</a></dd>
                    <dd><a href="#">运营服务</a></dd>
                </dl>
                <dl>
                    <dt>平台保障</dt>
                    <dd><a href="#">客服中心</a></dd>
                    <dd><a href="#">交易服务协议</a></dd>
                    <dd><a href="#">接收我们的调查</a></dd>
                    <dd><a href="#">组织&技术支持</a></dd>
                    <dd><a href="#">报告侵犯知识产权</a></dd>
                </dl>
                <dl>
                    <dt>合作伙伴推广</dt>
                    <dd><a href="#">合作伙伴关系</a></dd>
                    <dd><a href="#">开放平台</a></dd>
                    <dd><a href="#">网站合作</a></dd>
                </dl>
                <dl>
                    <dt>联系我们</dt>
                    <dd>咨询热线：400-0000-0000</dd>
                    <dd>邮箱：accmould@163.com</dd>
                    <dd>工作时间：周一至周五 9:00～17:00</dd>
                </dl>
            </div>
            <div class="wx-code">
                <p class="img"><img src="images/wx-code.jpg" alt=""></p>
                <p class="text">关注官方微信</p>
            </div>
        </div>
    </div>
    <div class="footer-friend-link">
        <div class="container">
            <span>友情链接：</span>
            <a href="#">Acc+Mould Group</a>
            <a href="#">China mold network</a>
            <a href="#">China's technology network</a>
            <a href="#">Juhuasuan</a>
            <a href="#">boc.cn</a>
            <a href="#">icbc.com.cn</a>
            <a href="#">abchina.com Acc+Mould Cloud</a>
            <a href="#">YunOS</a>
            <a href="#">AliTeleco</a>
        </div>
    </div>
</div>

<div class="footer">
    <div class="container">
        <p class="footer-t">
            <a href="#">网站首页</a>
            <a href="#">关于我们</a>
            <a href="#">联系方式</a>
            <a href="#">使用协议</a>
            <a href="#">版权隐私</a>
            <a href="#">广告服务</a>
        </p>
        <p class="copyright">&copy;2010-2017 Acc+Mould.All rights reserved. 浙ICP备100000000号</p>
    </div>
</div>

<div class="contact-message">
    <h2 class="title">联系信息<i class="icon icon-remove"></i></h2>
    <div class="message">
        <p>
            <span class="img"><img src="images/co2.png"></span>手机号：<span class="red">13400000000</span>
        </p>
        <p>
            <span class="img"> <img src="images/co1.png"></span>电&nbsp;&nbsp;&nbsp;话：0574-68686868
        </p>
        <p>
            <span class="img">
                <img src="images/co3.png">
            </span>联系人：尼古拉斯赵四（先生）
        </p>
        <p>
            <span class="img">
                <img src="images/co4.png">
            </span>公&nbsp;&nbsp;&nbsp;司：某某某公司（普通会员）
        </p>
        <p>
            <span class="img">
                <img src="images/co5.png">
            </span>地&nbsp;&nbsp;&nbsp;址：浙江省宁波市
        </p>
    </div>
</div>


<script>

    $(function () {

        var bodyHeight = $('body').height();
        $(document).on('click','.contact',function () {
            $('.contact-message').show();
            $('body').append('<div class="mask"></div>');
            $('.mask').height(bodyHeight);
        });

        $(document).on('click','.mask',function () {
            $('.contact-message').hide();
            $('.mask').remove();
        });

        $(document).on('click','.contact-message',function () {
            $('.contact-message').hide();
            $('.mask').remove();
        })
    });


</script>

</body>
</html>