<div class="home">
    <div class="p-demand-style"></div>
    <div class="h-demand-container">
        <div class="container">
            <div class="h-breadcrumbs clearfix">
                <span class="h-b-l">当前：</span>
                <ol class="h-b-r clearfix">
                    <li><a href="?href=index">首页</a></li>
                    <span><i class="icon icon-angle-right"></i></span>
                    <li><a href="?href=process">个人中心</a></li>
                    <span><i class="icon icon-angle-right"></i></span>
                    <li><a href="?href=process_demand">发布加工需求</a></li>
                </ol>
            </div>
            <div class="h-pd-content">
                <div class="pd-step clearfix">
                    <div class="li li-cur">
                        <a href="?href=purchase_demand">
                            <span class="li-l">1</span>
                            <span class="li-r">一键上传 平台整理报价</span>
                        </a>
                    </div>
                    <div class="li">
                        <a href="?href=purchase_quote">
                            <span class="li-l">2</span>
                            <spsn class="li-r">厂家报价 确认合作</spsn>
                        </a>
                    </div>
                    <div class="li">
                        <a href="#">
                            <span class="li-l">3</span>
                            <span class="li-r">支付，完成合作</span>
                        </a>
                    </div>
                </div>
                <div class="pd-form">
                    <form method="post" action="#">
                        <div class="li p-li">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>标题</td>
                                    <td><input type="text" name="title"></td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: middle;">采购清单</td>
                                    <td>
                                        <div class="td-l">
                                            <input type="file" name="file1">
                                            <div class="btn">上传采购单</div>
                                        </div>
                                        <div class="td-text">
                                            <p>*请上传商品采购详细清单（可以是excel、word、图片等格式），包含商品名称、规格、采购数量等信息</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: middle;">图纸</td>
                                    <td>
                                        <div class="td-l">
                                            <input type="file" name="file">
                                            <div class="btn">上传图片</div>
                                        </div>
                                        <div class="td-text">
                                            <p>*若涉及到图纸说明请以压缩的形式打包上传；没有涉及可不传</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top;">备注</td>
                                    <td><textarea cols="" rows="5" name="area1"></textarea></td>
                                </tr>
                                <tr>
                                    <td>交货地址</td>
                                    <td><input type="text" name="address"></td>
                                </tr>
                                <tr>
                                    <td>有效日期</td>
                                    <td><input type="text" name="times"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="hd-submit">
                            <!--<input type="submit" value="提交需求" name="submit" class="submit">-->
                            <a href="process_immediately.html" class="submit">提交需求</a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>