<div class="home">
    <div class="container">
        <div class="pu-container">
            <div class="pu-breadcrumbs clearfix">
                <ul class="clearfix">
                    <li><a href="?href=index">首页</a></li>
                    <span>&gt;</span>
                    <li><a href="?href=purchase">我要采购</a></li>
                    <span>&gt;</span>
                    <li><a href="?href=purchase_details">螺帽</a></li>
                    <span>&gt;</span>
                    <li><a href="?href=purchase_inquiry">我要询价</a></li>
                </ul>
            </div>
            <div class="pu-details">
                <div class="pu-details-info clearfix">
                    <div class="pd-info-l">
                        <p class="big-img"><img src="images/lm.jpg"></p>
                    </div>
                    <div class="pd-info-r">
                        <div class="pd-info-title clearfix">
                            <h2>模具加工</h2>
                        </div>
                        <ol class="pd-info-number clearfix">
                            <li>
                                <p class="product-num">产品编号</p>
                                <p class="num">456789</p>
                            </li>
                            <li>
                                <p class="red">￥100.00</p>
                                <p class="num">10-99台</p>
                            </li>
                            <li>
                                <p class="red">￥95.00</p>
                                <p class="num">100-4999台</p>
                            </li>
                            <li>
                                <p class="red">￥90.00</p>
                                <p class="num">≥5000台</p>
                            </li>
                        </ol>
                        <div class="pd-info-form">
                            <form method="post" action="">
                                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                    <tr>
                                        <td>联系人</td>
                                        <td><input type="text" name="name" /></td>
                                    </tr>
                                    <tr>
                                        <td>联系电话</td>
                                        <td><input type="text" name="tel" /></td>
                                    </tr>
                                    <tr>
                                        <td>地址</td>
                                        <td><input type="text" name="address" /></td>
                                    </tr>
                                    <tr>
                                        <td>订购数</td>
                                        <td><input type="text" name="num" /><span class="kg">千克</span></td>
                                    </tr>
                                    <tr>
                                        <td>补充说明</td>
                                        <td><textarea name="desc"></textarea></td>
                                    </tr>
                                    <tr>
                                        <td>验证码</td>
                                        <td><input type="text" name="v-code" /><span class="code-img"><img src="images/v-code.jpg"></span></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <input type="submit" name="submit" value="确认提交" class="submit" />
                                            <a href="?href=purchase" class="back">返回商品页</a>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>