<div class="home">
    <div class="container">
        <div class="pu-container">
            <div class="pu-breadcrumbs clearfix">
                <ul class="clearfix">
                    <li><a href="?href=index">首页</a></li>
                    <span>&gt;</span>
                    <li><a href="?href=purchase_info">采购信息</a></li>
                </ul>
                <p class="number">共找到<span class="light">1234</span>信息</p>
            </div>
            <div class="pu-filter">
                <div class="pu-filter-item clearfix">
                    <p class="title">分类：</p>
                    <p class="text">
                        <span>全部</span>
                        <span class="cur-color">模具钢</span>
                        <span>模架</span>
                        <span>热流道</span>
                        <span>标准件</span>
                        <span>电极（石墨）</span>
                        <span>模具油缸</span>
                        <span>刀具</span>
                        <span>耗材</span>
                        <span>模具加工设备</span>
                    </p>
                </div>
                <div class="pu-filter-item clearfix">
                    <p class="title">发布时间：</p>
                    <p class="text">
                        <span>全部</span>
                        <span>今日新发</span>
                        <span>最近3天</span>
                        <span class="cur-color">最近7天</span>
                        <span>最近15天</span>
                    </p>
                </div>
            </div>
            <div class="pu-nav">
                <ul class="clearfix">
                    <li class="cur-color">
                        <a href="#">
                            发布时间
                            <i class="icon icon-angle-down"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            报价截止时间
                            <i class="icon icon-angle-down"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            所在地区
                            <i class="icon icon-angle-down"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            报价数
                            <i class="icon icon-angle-down"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="pu-lists clearfix">
                <div class="pu-item">
                    <div class="pu-item-t">
                        <h3 class="title">这里是采购信息标题这里是采购信息标题这里是采购信息标题</h3>
                        <div class="text clearfix">
                            <p class="text-l">采购数量<span class="light">2</span>种</p>
                            <p class="text-l">已有<span class="light">219</span>条报价</p>
                        </div>
                    </div>
                    <div class="pu-item-b">
                        <div class="top">
                            <span>上模座</span>
                            <span>下模座</span>
                        </div>
                        <div class="middle">
                            <p><span>交货地区：</span>广东广州</p>
                            <p><span>发布时间：</span>2017-02-22</p>
                            <p><span>发布时间：</span>2018-12-31</p>
                        </div>
                        <div class="bottom">
                            <div class="name clearfix">
                                <p class="img"><img src="images/qi.jpg"></p>
                                <p class="text">宁波汽车有限公司</p>
                            </div>
                            <div class="btn">
                                <a href="?href=purchase_info_details">立即报价</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pu-item">
                    <div class="pu-item-t">
                        <h3 class="title">这里是采购信息标题这里是采购信息标题这里是采购信息标题</h3>
                        <div class="text clearfix">
                            <p class="text-l">采购数量<span class="light">2</span>种</p>
                            <p class="text-l">已有<span class="light">219</span>条报价</p>
                        </div>
                    </div>
                    <div class="pu-item-b">
                        <div class="top">
                            <span>上模座</span>
                            <span>下模座</span>
                        </div>
                        <div class="middle">
                            <p><span>交货地区：</span>广东广州</p>
                            <p><span>发布时间：</span>2017-02-22</p>
                            <p><span>发布时间：</span>2018-12-31</p>
                        </div>
                        <div class="bottom">
                            <div class="name clearfix">
                                <p class="img"><img src="images/vip.jpg"></p>
                                <p class="text">宁波汽车有限公司</p>
                            </div>
                            <div class="btn">
                                <a href="?href=purchase_info_details">立即报价</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pu-item">
                    <div class="pu-item-t">
                        <h3 class="title">这里是采购信息标题这里是采购信息标题这里是采购信息标题</h3>
                        <div class="text clearfix">
                            <p class="text-l">采购数量<span class="light">2</span>种</p>
                            <p class="text-l">已有<span class="light">219</span>条报价</p>
                        </div>
                    </div>
                    <div class="pu-item-b">
                        <div class="top">
                            <span>上模座</span>
                            <span>下模座</span>
                        </div>
                        <div class="middle">
                            <p><span>交货地区：</span>广东广州</p>
                            <p><span>发布时间：</span>2017-02-22</p>
                            <p><span>发布时间：</span>2018-12-31</p>
                        </div>
                        <div class="bottom">
                            <div class="name clearfix">
                                <p class="img"><img src="images/vip.jpg"></p>
                                <p class="text">宁波汽车有限公司</p>
                            </div>
                            <div class="btn">
                                <a href="?href=purchase_info_details">立即报价</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pu-item">
                    <div class="pu-item-t">
                        <h3 class="title">这里是采购信息标题这里是采购信息标题这里是采购信息标题</h3>
                        <div class="text clearfix">
                            <p class="text-l">采购数量<span class="light">2</span>种</p>
                            <p class="text-l">已有<span class="light">219</span>条报价</p>
                        </div>
                    </div>
                    <div class="pu-item-b">
                        <div class="top">
                            <span>上模座</span>
                            <span>下模座</span>
                        </div>
                        <div class="middle">
                            <p><span>交货地区：</span>广东广州</p>
                            <p><span>发布时间：</span>2017-02-22</p>
                            <p><span>发布时间：</span>2018-12-31</p>
                        </div>
                        <div class="bottom">
                            <div class="name clearfix">
                                <p class="img"><img src="images/vip.jpg"></p>
                                <p class="text">宁波汽车有限公司</p>
                            </div>
                            <div class="btn">
                                <a href="?href=purchase_info_details">立即报价</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pu-item">
                    <div class="pu-item-t">
                        <h3 class="title">这里是采购信息标题这里是采购信息标题这里是采购信息标题</h3>
                        <div class="text clearfix">
                            <p class="text-l">采购数量<span class="light">2</span>种</p>
                            <p class="text-l">已有<span class="light">219</span>条报价</p>
                        </div>
                    </div>
                    <div class="pu-item-b">
                        <div class="top">
                            <span>上模座</span>
                            <span>下模座</span>
                        </div>
                        <div class="middle">
                            <p><span>交货地区：</span>广东广州</p>
                            <p><span>发布时间：</span>2017-02-22</p>
                            <p><span>发布时间：</span>2018-12-31</p>
                        </div>
                        <div class="bottom">
                            <div class="name clearfix">
                                <p class="img"><img src="images/vip.jpg"></p>
                                <p class="text">宁波汽车有限公司</p>
                            </div>
                            <div class="btn">
                                <a href="?href=purchase_info_details">立即报价</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pu-item">
                    <div class="pu-item-t">
                        <h3 class="title">这里是采购信息标题这里是采购信息标题这里是采购信息标题</h3>
                        <div class="text clearfix">
                            <p class="text-l">采购数量<span class="light">2</span>种</p>
                            <p class="text-l">已有<span class="light">219</span>条报价</p>
                        </div>
                    </div>
                    <div class="pu-item-b">
                        <div class="top">
                            <span>上模座</span>
                            <span>下模座</span>
                        </div>
                        <div class="middle">
                            <p><span>交货地区：</span>广东广州</p>
                            <p><span>发布时间：</span>2017-02-22</p>
                            <p><span>发布时间：</span>2018-12-31</p>
                        </div>
                        <div class="bottom">
                            <div class="name clearfix">
                                <p class="img"><img src="images/vip.jpg"></p>
                                <p class="text">宁波汽车有限公司</p>
                            </div>
                            <div class="btn">
                                <a href="?href=purchase_info_details">立即报价</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="turnpage">
                <li><a class="page_noclick">上一页</a></li>
                <li class="page_cur"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li class="page_last"><a class="page_noclick page-light">下一页</a></li>
                <div class="go_turn_page">
                    共1页&nbsp; &nbsp; &nbsp;到
                    <input type="text" name="num" class="turn_to_page" maxlength="8">&nbsp;页<a href="javascript:void(0)" class="go_turn">确定</a>
                </div>
            </div>
        </div>
    </div>
</div>