<div class="home">
    <div class="container">
        <div class="pu-container">
            <div class="pu-breadcrumbs clearfix">
            <ul class="clearfix">
                <li><a href="?href=index">首页</a></li>
                <span>&gt;</span>
                <li><a href="?href=purchase_info">采购信息</a></li>
                <span>&gt;</span>
                <li><a href="?href=purchase_info_details">这里是采购标题</a></li>
            </ul>
            <p class="number">共找到<span class="light">1234</span>信息</p>
        </div>
            <div class="pu-company-box clearfix">
               <div class="pu-company-l">
                   <h3 class="title">宁波汽车有限公司<img src="images/vip.jpg"></h3>
                   <p class="text"><span class="color8">所在地区：</span>广东广州</p>
                   <p class="more-need">
                       <a href="#" class="clearfix"><span>更多Ta的采购需求</span><i class="icon icon-angle-double-right"></i> </a>
                   </p>
               </div>
               <div class="pu-company-r">
                   <a href="?href=purchase_demand" class="clearfix">
                       <img src="images/text1.png">
                       <span class="cur-color">我也要发布采购需求</span>
                   </a>
               </div>
           </div>
            <div class="pu-parameter">
                <h2 class="pu-parameter-title">这里是采购信息标题</h2>
                <div class="pi-message">
                    <div class="pi-top">
                        <div class="pi-top-t clearfix">
                            <div class="li">
                                <p class="text">报价数</p>
                                <p class="light">3<span>个</span></p>
                            </div>
                            <div class="li">
                                <p class="text">被查看次数</p>
                                <p class="light">500<span>次</span></p>
                            </div>
                            <div class="li">
                                <p class="text">采购数量</p>
                                <p class="light">3<span>种</span></p>
                            </div>
                            <div class="li">
                                <span class="circle"></span>
                                <button type="button" class="btn">立即报价</button>
                                <span class="text">距离报价结束还剩1天</span>
                            </div>
                        </div>
                        <div class="pi-top-m clearfix">
                            <div class="li">
                                <p class="text">报价截止日期</p>
                                <p class="content">2017.12.31</p>
                            </div>
                            <div class="li">
                                <p class="text">信息发布日期</p>
                                <p class="content">2017.12.01</p>
                            </div>
                            <div class="li">
                                <p class="text">图纸下载</p>
                                <p class="content cur-color">图纸.rar<i class="icon icon-arrow-circle-o-down"></i></p>
                            </div>
                            <div class="li">
                                <p class="text">采购单下载</p>
                                <p class="content cur-color">采购单.xlsx<i class="icon icon-arrow-circle-o-down"></i></p>
                            </div>
                        </div>
                        <div class="pi-top-b">
                            <div class="li">
                                <p class="title">备注</p>
                                <p class="text">期望交货日期：2017-12-22 ，交货方式：供应方送货，支付方式：现金支付</p>
                            </div>
                        </div>
                        <div class="pu-shopping">
                            <h3 class="title">采购商品</h3>
                            <div class="table">
                                <table width="100%" cellspacing="0" cellpadding="0" border="1" borderColor="#eee">
                                    <thead>
                                    <tr>
                                        <td>物品名称</td>
                                        <td>图片</td>
                                        <td>采购量</td>
                                        <td>规格属性</td>
                                        <td>其他备注</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>上模座</td>
                                        <td><img src="images/table1.jpg" ></td>
                                        <td><span class="light">2</span>吨</td>
                                        <td>1150*425*55</td>
                                        <td>材料45#</td>
                                    </tr>
                                    <tr>
                                        <td>下模座</td>
                                        <td><img src="images/table1.jpg" ></td>
                                        <td><span class="light">2</span>吨</td>
                                        <td>1150*425*55</td>
                                        <td>材料45#</td>
                                    </tr>
                                    <tr>
                                        <td>垫板</td>
                                        <td><img src="images/table1.jpg" ></td>
                                        <td><span class="light">2</span>吨</td>
                                        <td>1150*425*55</td>
                                        <td>材料45#</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="get-quote">
                <h3 class="title cur-color">已收到的报价</h3>
                <div class="table">
                    <table width="100%" cellpadding="0" cellspacing="0" border="1" borderColor="#eee">
                        <thead>
                        <tr>
                            <td>报价时间</td>
                            <td>报价厂家</td>
                            <td>所在地区</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>2017.12.12</td>
                            <td>广州****公司</td>
                            <td>广东省 广州市</td>
                        </tr>
                        <tr>
                            <td>2017.12.12</td>
                            <td>广州****公司</td>
                            <td>广东省 广州市</td>
                        </tr>
                        <tr>
                            <td>2017.12.12</td>
                            <td>广州****公司</td>
                            <td>广东省 广州市</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="pi-need">
                <h2 class="pi-need-title">更多类似需求</h2>
                <div class="pi-need-lists clearfix">
                    <div class="li">
                        <div class="li-t">
                            <p class="li-t-title">加工4号这里是加工内容</p>
                            <p class="li-t-text">平台报价</p>
                        </div>
                        <div class="li-m">
                            <p><span>工序：</span>3道</p>
                            <p><span>有效日期：</span>2017-12-18</p>
                            <p><span>交货地址：</span>广州测试地址</p>
                        </div>
                        <div class="li-b">
                            <button type="button" class="cur-background">我要报价</button>
                        </div>
                    </div>
                    <div class="li">
                        <div class="li-t">
                            <p class="li-t-title">加工4号这里是加工内容</p>
                            <p class="li-t-text">平台报价</p>
                        </div>
                        <div class="li-m">
                            <p><span>工序：</span>3道</p>
                            <p><span>有效日期：</span>2017-12-18</p>
                            <p><span>交货地址：</span>广州测试地址</p>
                        </div>
                        <div class="li-b">
                            <button type="button" class="cur-background">我要报价</button>
                        </div>
                    </div>
                    <div class="li">
                        <div class="li-t">
                            <p class="li-t-title">加工4号这里是加工内容</p>
                            <p class="li-t-text">平台报价</p>
                        </div>
                        <div class="li-m">
                            <p><span>工序：</span>3道</p>
                            <p><span>有效日期：</span>2017-12-18</p>
                            <p><span>交货地址：</span>广州测试地址</p>
                        </div>
                        <div class="li-b">
                            <button type="button" class="cur-background">我要报价</button>
                        </div>
                    </div>
                    <div class="li">
                        <div class="li-t">
                            <p class="li-t-title">加工4号这里是加工内容</p>
                            <p class="li-t-text">平台报价</p>
                        </div>
                        <div class="li-m">
                            <p><span>工序：</span>3道</p>
                            <p><span>有效日期：</span>2017-12-18</p>
                            <p><span>交货地址：</span>广州测试地址</p>
                        </div>
                        <div class="li-b">
                            <button type="button" class="cur-background">我要报价</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>