<div class="sh-home">
    <div class="container">
        <div class="row sh-home-contact clearfix">
            <div class="sh-hc-left">
                <p>
                    <span class="img"><img src="./images/cu1.png"></span>
                    <span class="title">联系人</span>
                    <em>：</em>
                    <span class="text">赵本山（先生）</span>
                </p>
                <p>
                    <span class="img"><img src="./images/cu2.png"></span>
                    <span class="title">手机号</span>
                    <em>：</em>
                    <span class="text red">156846516</span>
                </p>
                <p>
                    <span class="img"><img src="./images/cu3.png"></span>
                    <span class="title">电话</span>
                    <em>：</em>
                    <span class="text">0557-8707251</span>
                </p>
                <p>
                    <span class="img"><img src="./images/cu4.png"></span>
                    <span class="title">传真</span>
                    <em>：</em>
                    <span class="text">020-83226791</span>
                </p>
                <p>
                    <span class="img"><img src="./images/cu5.png"></span>
                    <span class="title">地址</span>
                    <em>：</em>
                    <span class="text">中国 广东省 广州市越秀区越秀南路创举大厦10号</span>
                </p>
                <p>
                    <span class="img"><img src="./images/cu6.png"></span>
                    <span class="title">邮编</span>
                    <em>：</em>
                    <span class="text">510370</span>
                </p>
            </div>
            <div class="sh-hc-right">
                <img src="./images/sh-contact1.jpg" alt="">
            </div>
        </div>
    </div>
</div>