<div class="sh-home">
    <div class="container">
        <div class="ssg-box">
            <div class="ssg-form clearfix">
                <form method="post" action="#">
                    <input type="text" placeholder="请输入产品名称">
                    <button type="button">搜索</button>
                </form>
            </div>
            <div class="ssg-lists">
                <ol class="nav clearfix">
                    <li class="cur-color"><a href="#">上架时间<i class="icon icon-angle-down"></i></a></li>
                    <li>价格<i class="icon icon-angle-down"></i> </li>
                </ol>
                <div class="sh-home-lists">
                    <ul class="clearfix">
                        <li>
                            <p class="img"><img src="./images/home2.jpg" alt="商品图"></p>
                            <p class="light">￥136.00/千克</p>
                            <p class="text">长祥特钢S136</p>
                        </li>
                        <li>
                            <p class="img"><img src="./images/home2.jpg" alt="商品图"></p>
                            <p class="light">￥136.00/千克</p>
                            <p class="text">长祥特钢S136</p>
                        </li>
                        <li>
                            <p class="img"><img src="./images/home2.jpg" alt="商品图"></p>
                            <p class="light">￥136.00/千克</p>
                            <p class="text">长祥特钢S136</p>
                        </li>
                        <li>
                            <p class="img"><img src="./images/home2.jpg" alt="商品图"></p>
                            <p class="light">￥136.00/千克</p>
                            <p class="text">长祥特钢S136</p>
                        </li>
                        <li>
                            <p class="img"><img src="./images/home2.jpg" alt="商品图"></p>
                            <p class="light">￥136.00/千克</p>
                            <p class="text">长祥特钢S136</p>
                        </li>
                        <li>
                            <p class="img"><img src="./images/home2.jpg" alt="商品图"></p>
                            <p class="light">￥136.00/千克</p>
                            <p class="text">长祥特钢S136</p>
                        </li>
                        <li>
                            <p class="img"><img src="./images/home2.jpg" alt="商品图"></p>
                            <p class="light">￥136.00/千克</p>
                            <p class="text">长祥特钢S136</p>
                        </li>
                        <li>
                            <p class="img"><img src="./images/home2.jpg" alt="商品图"></p>
                            <p class="light">￥136.00/千克</p>
                            <p class="text">长祥特钢S136</p>
                        </li>
                        <li>
                            <p class="img"><img src="./images/home2.jpg" alt="商品图"></p>
                            <p class="light">￥136.00/千克</p>
                            <p class="text">长祥特钢S136</p>
                        </li>
                        <li>
                            <p class="img"><img src="./images/home2.jpg" alt="商品图"></p>
                            <p class="light">￥136.00/千克</p>
                            <p class="text">长祥特钢S136</p>
                        </li>
                    </ul>
                </div>
                <div class="turnpage">
                    <li><span class="page_noclick">上一页</span></li>
                    <li class="page-item"><span class="page_cur">1</span>
                        <span>2</span>
                        <span>3</span>
                    </li>
                    <li class="page_last"><span class="page_noclick">下一页</span></li>
                    <div class="go_turn_page">
                        共1页&nbsp; &nbsp; &nbsp;到
                        <input type="text" name="num" class="turn_to_page" maxlength="8">&nbsp;页<a href="javascript:void(0)" class="go_turn">确定</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>